.mgrBackground{
  @include BGColor(rgb(24, 12, 77),  rgb(18, 35, 82));
  @include BG01('bg6-1', 80%);
  @include BG02('bg7-1', 110%);
  @include BGLeft('bg6-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg6-4', 90%, 0%, 10%);
  @include FishMove1(30%, 30%, 10s);
  @include FishMove2(30%, 60%, 15s);
}

// MGR login
.mgrLogin{
  text-align: center;
  .LogInForm{
    margin: 20px auto;
    padding: 20px;
    // border: 1px solid black;
    background-color: rgba(0, 0, 0, .5);
    width: 400px;
    box-shadow: 0 0 10px #ddd;
    .mgrImg{
      // display: flex;
      img{
        width: 300px;
      }

    }
    h1{
      color: #ffffff;
      font-size: 40px;
      line-height: 100px;
    }
    h3{
      @include main_title(#ffffff);
      margin-bottom: 20px;
      width: 200px;
    }
    input {
      padding: 5px 15px; 
      background:#ffffff; 
      border:0 none;
      cursor:pointer;
      border-radius: 5px; 
      margin-bottom: 20px;
      height: 40px;
    }
    input#memId, input#memPsw{
      font-size: 14px;
    }
    .submitBtnLog{
      @include btn50Green;
      box-shadow: $shadow2;
      width: 300px;
    }
  }
}

.mgrHeader{
  color: #ffffff;
}
.mgrMain{
  width: 98%;
  margin: auto;
}

.mgrrow{
  background-color: rgba(255, 255, 255, .8);
  margin: 10px;
  // 左邊LIST
  .mgrList{
    background-color: #eeeeee;
    .mgrImg{
      margin: 20px auto;
      text-align: center;
    }
    h3{
      font-size: $subtitleFz;
      font-family: $en;
      font-weight: 700;
      color: #333333;
      text-align: center;
    }
    .mgrbtn{
      line-height: 50px;
      text-align: center;
      .mgrTab:hover{
        background-color: $keyGreen;
        color: #ffffff;
      }
    }
    a{
      text-decoration: none;
      text-align: start;
      padding-left: 10px;
    }
    .mgrTab {
      margin: 0 auto;
      width: 80%;
      font-size: 20px;
      font-weight: 400;
      color: #333333;
      border: 4px solid #1BB8CE;
      border-radius: 6px;
      line-height: 50px;
      margin-top: 10px;
      box-shadow: $shadow;
      background-color: #ffffff;
    }
    .mgrbtn:last-child{
      margin-bottom: 20px;
    }
    .mgrTab.-on {
      background-color: #1BB8CE;
      color: #ffffff;
    }
  }
  // 右邊內容
    tr, td, select{
      font-size: 16px;
    }
  .mgrContent{
    h3{
      width: 100%;
      @include main_title(#333333);
      margin: 30px auto;
    }
    .mgrTab.-on{
      display: block;
    }
    .mgrTab{
      display: none;
      // CHATBOT
      .mgrChatAll{
        text-align: center;
        .mgrChatTitle{
          background-color: $keyGreen;
          color: #ffffff;
          height: 40px;
          line-height: 40px;
        }
        .mgrChatKey{
          line-height: 30px;
          padding: 20px;
          box-shadow: $shadow;
          .mgrcontent2, .mgrcontent3{
            text-align: left;
          }
        }
      }
      // MEMBER
      .mgrMemAll{
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
          }
          i{
            font-size: 36px;
          }
          .fa-check-circle:hover, .fa-check-circle:active{
            color: green;
          }
          .fa-times-circle:hover, .fa-times-circle:active{
            color: red;
          }
        }
      }
      // AQUA
      .mgrAquaAll{
        tr{
          td{
            margin: 20px;
            line-height: 40px;
          }
          td:first-child{
            background-color: $keyGreen;
            color: #ffffff;
          }
          // td:nth-child(2){
          //   box-shadow: $shadow;
          // }
        }
      }
      // ORDER
      .mgrOrderAll{
        text-align: center;
        .mgrStepContent{
          display: none;
        }
        .mgrOrderTitle{
          background-color: $keyGreen;
          color: #ffffff;
          height: 40px;
          line-height: 40px;
        }
        .mgrTicketOrder{
          line-height: 30px;
          padding: 20px;
          box-shadow: $shadow;
          .mgrTitle{
            i{
              transition: .3s;
            }
            i.rotate{
              transform: rotate(180deg);
            }
          }
          .mgrOrderDetail{
            .mgrOrderDetailForm{
              background-color: $keyGreen;
              color: #ffffff;
            }
          }
        }
      }
      // TICKETINFO
      .mgrTicketInfoAll{
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
            line-height: 40px;
          }
          i{
            font-size: 20px;
          }
          .fa-check-circle:hover, .fa-check-circle:active{
            color: green;
          }
          .fa-times-circle:hover, .fa-times-circle:active{
            color: red;
          }
        }
      }
      // JOURNAL
      .mgrJournalAll{
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
            padding: 5px;
            img{
              width: 100px;
              height: 60px;
            }
          }
          td:nth-child(4){
            text-align: justify;
          }
        }
      }
      // JOURNAL MSG
      .mgrSpanTab{
        display: flex;
        // justify-content: space-evenly;
        margin: 20px;
        .mgrSecTab {
          // margin-right: 20px;
          text-align: center;
          margin: 0 auto;
          width: 100px;
          font-size: 20px;
          font-weight: 400;
          color: #333333;
          border: 4px solid #FBE108;
          border-radius: 6px;
          line-height: 50px;
          box-shadow: $shadow;
          background-color: #ffffff;
        }
        .mgrSecTab:hover{
          background-color: #FBE108;
        }
        .span2{
          margin-left: 20px;
        }
        .mgrSecTab.-on {
          background-color: #FBE108;
        }
        a{
          text-decoration: none;
        }
      }
      .mgrJournalMsgAll{
        .mgrSecTab.-on{
          display: block;
        }
        .mgrSecTab{
          display: none;
        }  
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
            padding: 5px;
            i{
              font-size: 36px;
            }
            .fa-check-circle:hover, .fa-check-circle:active{
              color: green;
            }
            .fa-times-circle:hover, .fa-times-circle:active{
              color: red;
            }
          }
        }
      }
      // THANKSCARD
      .mgrThankscardAll{
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
            img{
              width: 100px;
            }
          }
          i{
            font-size: 36px;
          }
          .fa-check-circle:hover, .fa-check-circle:active{
            color: green;
          }
          .fa-times-circle:hover, .fa-times-circle:active{
            color: red;
          }
        }
      }
      // BLOG
      .mgrBlogAll{
        .mgrSecTab.-on{
          display: block;
        }
        .mgrSecTab{
          display: none;
        }  
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
            padding: 5px;
            i{
              font-size: 36px;
            }
            .fa-check-circle:hover, .fa-check-circle:active{
              color: green;
            }
            .fa-times-circle:hover, .fa-times-circle:active{
              color: red;
            }
          }
        }
      }
      // NOMINATE
      .mgrNominateAll{  
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
            padding: 5px;
            i{
              font-size: 36px;
            }
            .fa-check-circle:hover, .fa-check-circle:active{
              color: green;
            }
            .fa-times-circle:hover, .fa-times-circle:active{
              color: red;
            }
          }
        }
      }
      // MANAGER
      .mgrManagerAll{
        tr{
          box-shadow: $shadow;
          th{
            text-align: center;
            background-color: $keyGreen;
            color: #ffffff;
            height: 40px;
          }
          td{
            text-align: center;
            padding: 5px;
            i{
              font-size: 36px;
            }
            .fa-check-circle:hover, .fa-check-circle:active{
              color: green;
            }
            .fa-times-circle:hover, .fa-times-circle:active{
              color: red;
            }
          }
        }
      }
    }
  }
}
