

.bookingPaymentBG{
  @include BGColor(rgb(24, 96, 138),  rgb(33, 104, 161));
  @include BG01('bg3-2', 90%);
  @include BG02('bg4-1', 100%);
  @include BGLeft('bg3-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg3-4', 90%, 0%, 10%);
  @include FishMove1(30%, 60%, 10s);
  @include FishMove2(30%, 30%, 20s);
}

.booking2Content{
  width: 80%;
  max-width: 1200px;
  background-color: rgba(0,0,0,.2);
  margin: 150px auto 50px;
  padding: 50px;
  @media screen and (max-width: 991px){
    margin: 105px auto 50px;
  }
  @media screen and (max-width: 676px){
    width: 90%;
    padding: 20px;
  }
  .booking2Title{
    @include main_title($keyWhite);
    margin-bottom: 15px;
  }
  .booking2SubTitle{
    @include sub_title($keyWhite);
    margin-bottom: 30px;
  }
  .booking2StepBox{
    @include StepBox;
    margin-bottom: 30px;
  }

  .bookingPaymentBlock{
    border: 1px solid rgba(0,0,0,.8);
    width: 100%;
    background-color: rgba(0,0,0,.8);
    border-radius: 6px;
    @include sub_title($keyWhite);
    @media screen and (max-width: 676px){
      font-size: 16px;
    }
    .inputBox{
      width: 540px;
      margin: 30px auto;
      @media screen and (max-width: 991px){
        width: 450px;
      }
      @media screen and (max-width: 767px){
        width: 340px;
      }
      @media screen and (max-width: 676px){
        width: 280px;
      }
      @media screen and (max-width: 479px){
        width: 260px;
      }
      label,p{
        color: $keyGreen;
        display: inline-block;
        width: 180px;
        margin-bottom: 10px;
        @media screen and (max-width: 991px){
          display: block;
        }
        @media screen and (max-width: 767px){
          width: initial;
        }
      }
      p:nth-child(2){
        color: $keyWhite;
      }
      input{
        border: none;
        @include sub_title($keyBlack);
        height: 40px;
        padding: 0 10px;
        @media screen and (max-width: 676px){
          font-size: 16px;
          padding: 0 5px;
        }
        @media screen and (max-width: 479px){
          height: 30px;
        } 
      }
      &:first-child{
        input{
          width: 70px;
          @media screen and (max-width: 676px){
            width: 60px;
          }
          @media screen and (max-width: 479px){
            width: 45px;
          }
        }
      }
      &:nth-child(2){
        input{
          width: 60px;
          @media screen and (max-width: 676px){
            width: 50px;
          }
        }
      }
      &:nth-child(3){
        input{
          width: 70px;
          @media screen and (max-width: 676px){
            width: 60px;
          }
        }
      }
      &:nth-child(7){
        p{
          color: $blockYellow;
          font-size: 24px;
          display: inline-block;
          @media screen and (max-width: 479px){
            font-size: 20px;
          }
          &:first-child{
            width: 180px;
            @media screen and (max-width: 479px){
              width: 140px;
            }
          }
        }
      }
      .discountQuestion{
        background-color: $blockYellow;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 22px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 10px;
      }
    }
    .payButtonBox{
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 767px){
        flex-direction: column-reverse;
        align-items: center;
      }
      .ticketPayCancel{
        @include btn50White;
        width: 200px;
        margin: 0 30px 0 0;
        @media screen and (max-width: 767px){
          margin: 20px 0 0 0;
        }
        @media screen and (max-width: 479px){
          width: 160px;
        }
      }
      .ticketPayToCheck{
        @include btn50Green;
        width: 200px;
        @media screen and (max-width: 479px){
          width: 160px;
        }
      }
      
      // a{
      //   margin: 0 15px;
      //   &:first-child{
      //     @media screen and (max-width: 991px){
      //       margin-top: 20px;
      //     }
  
      //   }
      //   .ticketPayCancel{
      //     @include btn60(200px, white);  
      //     @media screen and (max-width: 991px){
      //       width: 50%;
      //       min-width: 220px;
      //     }
      //   }
  
      //   .ticketPayToCheck{
      //     @include btn60(200px, green);
      //     @media screen and (max-width: 991px){
      //       width: 50%;
      //       min-width: 220px;
      //     }
          
      //   }
      // }
    }

  }

}