

.bookingConfirmBG{
  @include BGColor(rgb(24, 96, 138),  rgb(33, 104, 161));
  @include BG01('bg3-2', 90%);
  @include BG02('bg4-1', 100%);
  @include BGLeft('bg3-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg3-4', 90%, 0%, 10%);
  @include FishMove1(30%, 60%, 10s);
  @include FishMove2(30%, 30%, 20s);
}

.booking3Content{
  width: 80%;
  max-width: 1200px;
  background-color: rgba(0,0,0,.2);
  margin: 150px auto 50px;
  padding: 50px;
  @media screen and (max-width: 991px){
    margin: 105px auto 50px;
  }
  @media screen and (max-width: 676px){
    padding:20px;
  }
  
  .booking3Title{
    @include main_title($keyWhite);
    margin-bottom: 15px;
  }
  .booking3SubTitle{
    @include sub_title($keyWhite);
    margin-bottom: 30px;
  }

  .booking3StepBox{
    @include StepBox;
    margin-bottom: 30px;
  }

  .bookingConfirmBlock{
    border: 1px solid rgba(0,0,0,.8);
    width: 100%;
    background-color: rgba(0,0,0,.8);
    @include sub_title($keyWhite);

    @media screen and (max-width: 676px){
      font-size: 16px;
    }
    
    table{
      margin: 50px auto;
      background-color: $keyWhite;
      border-radius: 6px;
      overflow: hidden;
      border: 2px solid $keyWhite;
      max-width: 90%;
      tbody{
        tr{
          td{  
            color: $keyBlack;
            padding: 15px 20px;
            border: 1px solid white;
            @include sub_title($keyBlack);
            @media screen and (max-width: 676px){
              padding: 10px 10px;
              font-size: 16px;
            }
            
            &:first-child{
              background-color: $keyGreen;
              width: 200px;
              @media screen and (max-width: 991px){
                width: 150px;
              }
              @media screen and (max-width: 676px){
                width: auto;
              }
            }
            &:nth-child(2){
              width: 300px;
              border: 1px solid $keyGreen;
              @media screen and (max-width: 991px){
                width: 250px;
              }
              @media screen and (max-width: 676px){
                width: auto;
              }
            }
          }
        }
      }
    }

    .payButtonBox{
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 767px){
        flex-direction: column-reverse;
        align-items: center;
      }
      .ticketPayCancel{
        @include btn50White;
        width: 200px;
        margin: 0 30px 0 0;
        @media screen and (max-width: 767px){
          margin: 20px 0 0 0;
        }
        @media screen and (max-width: 479px){
          width: 160px;
        }
      }
      .ticketPayToCheck{
        @include btn50Green;
        width: 200px;
        @media screen and (max-width: 479px){
          width: 160px;
        }
      }
      
      // a{
      //   margin: 0 15px;
      //   &:first-child{
      //     @media screen and (max-width: 991px){
      //       margin-top: 20px;
      //     }
  
      //   }
      //   .ticketPayCancel{
      //     @include btn60(200px, white);  
      //     @media screen and (max-width: 991px){
      //       width: 50%;
      //       min-width: 220px;
      //     }
      //   }
  
      //   .ticketPayToCheck{
      //     @include btn60(200px, green);
      //     @media screen and (max-width: 991px){
      //       width: 50%;
      //       min-width: 220px;
      //     }
          
      //   }
      // }
    }

  }


}