@import "./layout/_variables.scss";
@import "./layout/_reset.scss";
@import "./layout/_mixins.scss";
@import "./layout/_button.scss";
@import "./layout/_font.scss";
@import "./layout/_header.scss";
@import "./plugin/owl.carousel";
@import "./plugin/owl.theme.default";


.home_page{
  background: $index_bgColor;
  overflow-x: hidden;
}
.role_content{
  position: fixed;
  left: 8%;
  top: 48%;
  z-index: 6;
}

.home_tour{
  padding-top: 50px;
  padding-bottom: 100px;
  // border: 2px solid red;
  // overflow: hidden;
  .water_1{
    width: 100%;
    position: absolute;
    top: -2%;
  }
  .water_2{
    width: 100%;
    position: absolute;
    top: 2%;
    left: -16%;
  }
  .water_3{
    width: 100%;
    position: absolute;
    top: 2%;
    left: 67%;
  }
  .home_tour_pic{
    position: relative;
    padding-top: 100px;
    padding-bottom: 30%;
    .tooltip {
      position: absolute;
      left: 15%;
      top: 30%;
      display: inline-block;
      animation-name: home_bounce_down;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    .tooltip .tooltiptext {
      width: 120px;
      background-color: #0047AB;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
    }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #0047AB transparent transparent transparent;
    }



    .role_pick{
      display: inline-block;
      width: 300px;
      height: 300px;
      position: relative;
      margin-top: 15%;
      left: 8%;
      // overflow: hidden;
    }
    .tour_arrow_left{
      cursor: pointer;
      pointer-events: auto;
      position: absolute;
      width: 10%;
      top: 50%;
      left: 15%;
      z-index: 7;
    }
    .tour_arrow_right{
      cursor: pointer;
      pointer-events: auto;
      position: absolute;
      width: 10%;
      top: 50%;
      right: 15%;
      z-index: 7;
    }
    .home_map_container{
      display: inline-block;
      position: absolute;
      // width: 100%;
      height: 100%;
      top: 0;
      left: 15%;
      right: 0;
      bottom: 0;
      // background-image: url("../image/index/map/island_2.png");
      // background-repeat: no-repeat;
      // width: 70%;
      // left: 20%;
      // padding-bottom: 45%;
      // background-position: 
      // height: 750px;
      // top: 15%;
      // left: 40%;
.hometour_map_area{
  // border: 5px solid red;
  width:100%;
  max-width: 1200px;
  position: relative;
  left: 10%;
  top: 10%;

  .tour_island{
    cursor: pointer;
    position: absolute;
    left: 50.8px;
    width: 90%;
    max-width:1200px;
    
      &:hover{
        opacity: 0;
    }  
  }
  .tour_islandh{
    position: absolute;
    left: 50px;
    width: 90%;
    max-width:1200px;
  }
  .tour_map_house1{
    // border:2px solid yellow;
    position: absolute;
    width: 22%;
    top: 8%;
    left: 32%;
    transform: translate(-50%, -50%);
    .tour_dolphin_wave{
      position: absolute;
      width: 45%;
      cursor: pointer;
      transform: translate(55%, -60%);
      animation-name: jump;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-iteration-count: infinite;

    }
  }
  .tour_map_house2{
    // border:2px solid yellow;
    position: absolute;
    width: 22%;
    padding-top: 8%;
    left: 82%;
    transform: translate(-50%, -50%);
    .tour_whale_wave{
      position: absolute;
      width: 45%;
      cursor: pointer;
      transform: translate(55%, -60%);
      animation-name: jump;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
  .tour_map_house3{
    // border:2px solid yellow;
    position: absolute;
    width: 22%;
    padding-top: 35%;
    left: 15%;
    .tour_seal_wave{
      position: absolute;
      width: 45%;
      cursor: pointer;
      transform: translate(55%, -60%);
      animation-name: jump;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }   
  }
  .tour_map_house4{
    // border:2px solid yellow;
    position: absolute;
    width: 25%;
    padding-top: 46%;
    left: 67%;
    transform: translate(-50%, -50%);
    .tour_seaturtle_wave{
      position: absolute;
      width: 45%;
      cursor: pointer;
      transform: translate(55%, -60%);
      animation-name: jump;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }  
  }



  @keyframes jump {
    0%{
      transform: translate(55%, -60%);
    }
    50%{
      transform: translate(55%, -80%);
    }
    100%{
      transform: translate(55%, -60%);
    }
  
  }

  .tour_map_house1, .tour_map_house2, .tour_map_house3, .tour_map_house4{
    .tour_house_show{
      display: block;
      cursor: pointer;
    }
  }
}
      .move{
        position: absolute !important;
        height: 100%;
        width: 100%;
        top: -20%;
        .home_p1{
          position: absolute !important;
          // padding-bottom: 20%;
          left: 50% !important;
          top: 54% !important;
          width: 2%;
          // z-index: 10;
          // height: 25px;
        }
        .home_p2{
          position: absolute;
          left: 43% !important;
          top: 70% !important;
          width: 2%;
          // z-index: 10;
          // height: 25px;
        }
        .home_p3{
          position: absolute;
          left: 27% !important;
          top: 55% !important;
          width: 2%;
          // z-index: 10;
          // height: 25px;
        }
        .home_p4{
          position: absolute;
          top: 70% !important;
          left: 70% !important;
          width: 2%;
          // z-index: 10;
          // height: 25px;
        }
    }
  }
    .home_role1{
    display: inline-block;
    width: 35%;
    position: relative;
    // top: 25%;
    left: 35%;
    z-index: 5;
    transform: translateY(50px);
    animation-name: home_bounce_down;
    animation-duration: 3s;
    // animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    .home_role2{
    display: inline-block;
    width: 35%;
    position: relative;
    // top: 25%;
    left: 30%;
    transform: translateY(-50px);
    animation-name: home_bounce_down2;
    animation-duration: 3s;
    // animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    .home_role3{
    display: inline-block;
    width: 35%;
    position: relative;
    // top: 25%;
    left: 33%;
    transform: translateY(50px);
    animation-name: home_bounce_down2;
    animation-duration: 3s;
    // animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    .home_map{
      position: absolute; 
      width: 65%;
      top: 15%;
      left: 15%;
    }
    .home_boat{
      width: 8%;
      position: absolute;
      top: -60%;
      left: 50%;
    }
  }

    .home_tour_fish{
      > img{
        position: absolute;
        z-index: -1;
        opacity: .15;
      }
      .home_fish_left{
        width: 20%;
        top: 10%;
        left: -50%;
        animation-name: fish_move_left;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      .home_fish_right{
        width: 20%;
        bottom: 10%;
        right: -5%;
        animation-name: fish_move_right;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
       }
      .fish_middle{
        left: 13%;
        bottom: 20%;
      }
      .shark_top{
        top: 10%;
        right: 10%;
      }
      .shark_bottom{
        bottom: 13%;
        left: 40%;
      }
      .crab{
        bottom: 20%;
        left: 5%;
      }
      .stingray_middle{
        top: 10%;
        left: 42%;
      }
      .stingray_left{
        top: 45%;
        left: 3%;
      }
      .turtle{
        bottom: 0;
        left: 23%;
      }
    }
}

#content{
  position: relative;
}
#content li{
  float: left;
}

    @media screen and (max-width: 1200px){
      .home_tour .home_tour_pic .tooltip{
        display: none;
      }
      // .home_tour .home_tour_pic .home_map_container .hometour_map_area .tour_islandh{
      //   left: -13%;
      // }
        .home_tour{
          .home_tour_pic{
             .home_map_container{
               .hometour_map_area{
                .tour_islandh ,.tour_island{
                  left: -13%;
                }
                .tour_map_house1{
                  left: 15%;
                }
                .tour_map_house2{
                  left: 58%;
                }
                .tour_map_house3{
                  left: 0%;
                  padding-top: 28%;
                }
                .tour_map_house4{
                  left: 50%;
                  padding-top: 46%;
                }
               }
             }
          }
    }
  }  


@media screen and (max-width: 1200px){
  .home_tour{
    padding-bottom: 20%;
    .home_tour_pic{
      .home_map{
        left: -4%;
        width: 80%;
      }
      .role_pick{
        display: none;
      }
      .home_map_container{
        .move{
          top: 0;
          .home_p1{
            left: 39% !important;
            top: 57% !important;
          }
          .home_p2{
            left: 32% !important;
            top: 91% !important;
          }
          .home_p3{
            left: 12% !important;
            top: 58% !important;
          }
          .home_p4{
            left: 60% !important;
            top: 78% !important;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 768px){
  .home_tour{
    .home_tour_pic{
      .home_map_container{
        .move{
          top: 0;
          .home_p1{
            left: 40% !important;
            top: 52% !important;
          }
          .home_p2{
            top: 80% !important;
          }
          .home_p3{
            left: 12% !important;
            top: 50% !important;
          }
          .home_p4{
            left: 58% !important;
            top: 71% !important;
          }
        }
      }
    }
  }
}






// Keyframes BOUNCE LEFT RIGHT
@keyframes home_bounce_down {
  0%{
    transform: translateY(50px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(50px);
  }
}
@keyframes home_bounce_down2 {
  0%{
    transform: translateY(150px);
  }
  50%{
    transform: translateY(75px);
  }
  100%{
    transform: translateY(150px);
  }
}
@keyframes home_bounce_down3 {
  0%{
    transform: translateY(50px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(50px);
  }
}
@keyframes home_bounce_down4 {
  0%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(20px);
  }
}


@keyframes fish_move_left{
  0%{
    left: -50%;
  }
  100%{
    left: 100%;
  }
}

@keyframes fish_move_right{
  0%{
    right: -50%;
  }
  25%{
    bottom: 15%;
  }
  100%{
    right: 100%;
  }
}


//Ticket page

.home_ticket{
  // padding-top: 100px;
  // border: 2px solid orange;
  background-image: url("../image/index/background/2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  //home_ticket_title
  > h3{
    // padding-bottom: 10%;
    @include main_title($keyWhite);
    font-size: 48px;
    position: relative;
    left: 7%;
    z-index: 4;
  }
  //home_ticket_background
  .page2_2{
    width: 20%;
    position: absolute;
    left: -5%;
    top: 0%;
    // z-index: 1;
  }
  .page2_3{
    width: 10%;
    position: absolute;
    right: -1%;
    z-index: -1;
  }
  //home_ticket_pic

  .home_ticket_pic{
    position: relative;
    padding-top: 100px;
    .page2_castle{
      position: absolute;
      width: 50%;
      top: 0;
      left: -15%;
    }
    .page2_calender{
      position: absolute;
      width: 90%;
      margin-left: 31%;
      z-index: 1;
    }
  }

  .home_ticket_fish{
    > img{
      position: absolute;
      z-index: -1;
      opacity: .15;
    }
    .page2_fish{
    width: 35%;
    left: 10%;
    bottom: 20%;
    opacity: .2;
    animation-name: fish_move_left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
    .page2_fish_middle{
      width: 35%;
      left: 30%;
      top: 40%;
      // z-index: -1;
      animation-name: fish_move_right;
      animation-duration: 10s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    .page2_jellyfish{
      top: 20%;
      left: 2%;
    }
  }
}

//calendar
.calendar_container{
  display: flex;
  align-items: flex-start;
  margin-left: 48%;
  padding-top: 7%;
  padding-bottom: 30%;
  position: relative;

  .BoXiang_calendar {
    padding-top: 5%;
    z-index: 5;
    //調整月曆寬度
    width: 50%;

    .datepicker-inline {
      background-color: white;
      width: 100%;
      //改用padding-top稱高才容易實現縮放，調成100%就是正方形
      padding-top: 95%;
      position: relative;
      .table-condensed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        th {
          //調整年跟月的字大小
          font-size: 20px;
          color: $keyBlack;
        }
        td.today {
          background-color: #ccc;
        }
        td.active {
          background-color: $keyGreen;
        }
        td {
          //調整日期的字大小
          font-size: 18px;
        }
      }
    }

    .home_calendar_booking{
      color: $blockYellow;
      font-family: $en;
      font-size: 36px;
      position: absolute;
      left:0;
      top: 6%;
      z-index: 3;
    }
  }
  //Remaining
  .home_ticket_remaining{
    width: 30%;
    padding: 2%;
    margin-left: 4%;
    z-index: 3;
    margin-top: 10%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    > h3{
      margin-bottom: 10px;
      color: #000000;
    }
    .home_text_row{
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      > p{
        width: 68px;
        @include text($keyBlack);
        font-weight: $fw_Regular;
        // text-align: center;
      }
    }

    > a{
      padding-top: 10%;
      @include a_button(100%);
    }
    .home_booking_btn{
      @include btn50Green;
      box-shadow: $shadow2;
    }
  }
}

//page2 RWD
@media screen and (max-width: 1200px){
  .home_ticket{
    .home_ticket_pic{
      .page2_castle{
        display: none;
      }
      .page2_calender{
          width: 100%;
          margin-left: 10%;
      }
    }
  }

  .calendar_container{
    margin-left: 28%;
    .BoXiang_calendar{
      width: 45%;
      .datepicker-inline{
        width: 85%;
        padding-top: 80%;
        margin-right: 0;
      }
    }
    .home_ticket_remaining{
      margin-left: 0;
      margin-top: 6%;
      position: relative;
      left: -3%;
    }
  }
}

@media screen and (max-width: 991px){
  .home_ticket{
    .home_ticket_pic{
      padding-top: 0;
      .page2_castle{
        display: block;
        top: 45%;
        left: 0;
      }
      .page2_calender{
        display: none;
      }  
    }
  }
  .calendar_container{
    flex-direction: column;
    .BoXiang_calendar{
      width: 80%;
      .home_calendar_booking{
        display: none;
      }
      .datepicker-inline{
        background-color: rgba(255,255,255,.5);
      }
    }
    .home_ticket_remaining{
      padding: 20px;
      width: 60%;
      left: 5%;
      .home_text_row{
        justify-content: space-around;
      }
      > h3{
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .home_ticket{
    > .home_ticket_title{
      font-size: 36px;
    }
  }
  .calendar_container {
    margin-left: 15%;
    .BoXiang_calendar{
      width: 100%;
      font-size: 12px;
      .datepicker-inline{
        padding-top: 85%;
        .table-condensed
          td{
            font-size: 20px;
          } 
          th{
            font-size: 22px;
          }
      } 
    }
    .home_ticket_remaining{
      width: 85%;
      left: 0;
      margin-left: 0%;
    }
  }
}

//Journal Page

.home_journal{
  padding-top: 100px;
  // border: 1px solid red;
  background-image: url("../image/index/background/3-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .journal_bg{
    display: none;
    width: 80%;
    background: linear-gradient(to right, #C43535 0%, #A52B2B 3%, #7A2929 4%, #7A2929 6%, #A52B2B 6% #7A2929 7%, #A52B2B 30%, #C43535 60%, #A52B2B 90%, #7A2929 99%) !important;
  }

  .home_jtitle_before{
    padding-top: 5%;
    .home_journal_title{
    @include main_title($keyWhite);
    font-size: 48px;
    position: relative;
    left: 7%;
    z-index: 4;
    }
  }

  .home_journal_pic{
    // position: relative;
    // padding-top: 100px;
    > img{
      position: absolute;
    }
  }
  .home_journal_fish{
    > img{
      position: absolute;
      z-index: -1;
      opacity: .15;
    }
  }

  .page3_2{
    width: 100%;
    position: absolute;
    z-index: -5;
  }
  .page3_3{
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .page3_4{
    width: 19%;
    position: absolute;
    left: -3%;
    bottom: -3%;
  }
  .page3_platform{
    width: 35%;
    top: 30%;
    left: 10%;
    padding-bottom: 15%;
  }
  .mermaid_1{
    width: 15%;
    top: -4%;
    left: 35%;
  }
  .mermaid_2{
    width: 10%;
    bottom: 10%;
    left: 35%;
  }
  .mermaid_3{
    width: 15%;
    left: 0%;
    bottom: 0%;
  }
  .page3_fish{
    width: 35%;
    bottom: 5%;
    left: 10%;
    opacity: .2;
    animation-name: fish_move_left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .whale{
    right: 0;
    top: 5%;
    opacity: .1;
  }
}

@media screen and (max-width: 576px){
  #flipbook{
    display: none;
  }
  .home_journal{
    a{
      display: block !important;
    }
  .journal_bg{
    display: block;
    margin: 0 auto;
    z-index: 5;
    width: 65%;
    padding: 5%;
  }
  }


}


.home_adopt{
  // border: 1px solid orange;
  background-image: url("../image/index/background/4-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .home_atitle_before{
    padding-top: 15%;
    .home_adbot_title{
      @include main_title($keyWhite);
      font-size: 48px;
      position: relative;
      left: 7%;
      z-index: 4;
    }
  }
  .adoptOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0, 0, .5);
    opacity: 0;
    z-index: -1;
    // transition: opacity 0.5s;
    #adoptBox{
      margin: 0 auto;
      padding: 20px;
      background-color:  hsla(255,255,255,.3);
      width: 800px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
      text-align: center;


      }
      #adopt_complete{
        width: 100%;
        padding-top: 5%;
      }
      .adoptClose2{
        margin-top: 20px;
        @include btn36Yellow();
      }
    }
  }
  .adoptOverlay.-on{
    opacity: 1;
    z-index: 11;
  }
  .home_adopt_pic{
    position: relative;
    // padding-top: 100px;
    padding-bottom: 100px;
    // display: flex;
    // justify-content: center;
  }
  .adopt_bg{
    position: absolute;
    left: 44%;
    top: 27%;
    width: 50%;
  }
  .adopt_right_animal01{
    position: absolute;
    left: 62%;
    top: 45%;
    width: 20%;
  }
  .complete1, .complete2, .complete3{
    position: absolute;
    cursor: pointer;
    animation-name: home_bounce_down4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .complete1{
    width: 15%;
    left: 0%;
    top: 20%;
  }
  .complete2{
    width: 15%;
    left: 13.5%;
    top: 25%;
  }
  .complete3{
    width: 15%;
    left: 28%;
    top: 20%;
  }
  .adopt_animal01, .adopt_animal02, .adopt_animal03{
    position: absolute;
    width: 10%;
    animation-name: bubble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  .adopt_animal01{
    right: 39%;
    top: -14%;
  }
  .adopt_animal02{
    right: 27%;
    top: -14%;
  }
  .adopt_animal03{
    right: 15%;
    top: -14%;
  }
  .thanks_card{
    position: absolute;
    width: 45%;
    top: 30%;
    right: 8%;
  }
  .page4_light{
    position: absolute;
    width: 10%;
    right: 40%;
    top: -10%;
    animation-name: card_bounce;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .page4_crab{
    position: absolute;
    width: 8%;
    right: 28%;
    top: -7%;
    animation-name: card_bounce;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .page4_black{
    position: absolute;
    width: 8%;
    right: 15%;
    top: -11%;
    animation-name: card_bounce;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .home_adopt_fish{
    > img{
      position: absolute;
      z-index: -1;
      opacity: .15;
    }
  }
  .page4_2{
    width: 15%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .page4_platform{
    position: relative;
    width: 45%;
    padding-top: 20%;
    left: -5%;
  }
  // .page4_right_top{
  //   width: 50%;
  //   right: 7%;
  //   top: 7%;
  // }
  .page4_right_bottom{
    position: relative !important;
    width: 45%;
    padding-bottom: 100px;

  }
  .page4_jellyfish{
    left: 38%;
    top: 23%;
  }
  .page4_fish{
    // z-index: -1;
    bottom: 20%;
    left: 15%;
    animation-name: fish_move_left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .page4_shark_left{
    bottom: 5%;
    left: 20%;
  }
  .page4_shark_right{
    top: 5%;
    left: 40%;
  }
  .shell_1{
    right: 33%;
    top: 3%;
    z-index: 2;
  }
  .shell_2{
    right: 23%;
    top: 4%;
    z-index: 2;
  }
  .shell_3{
    right: 13%;
    top: 3%;
    z-index: 2;
  }
.home_shadow1{
  margin: 0 auto;
  display: block;
  position: absolute;
  right: 42%;
  top: 0%;
  height: 25px;
  // background-color: #024282;
  background: linear-gradient(235deg, #325c7f, #132d42);
  border-radius: 50%;
  width: 7%;
  transform: translate(0%, 60%);

  animation-name: shadow;
  animation-duration: 10s;
  // animation-timing-function: steps(5, end);
  animation-iteration-count: infinite;
}

.home_shadow2{
  margin: 0 auto;
  display: block;
  position: absolute;
  right: 1%;
  top: 0%;
  height: 25px;
  // background-color: #024282;
  background: linear-gradient(235deg, #325c7f, #132d42);
  border-radius: 50%;
  width: 7%;
  transform: translate(0%, 60%);

  animation-name: shadow;
  animation-duration: 10s;
  // animation-timing-function: steps(5, end);
  animation-iteration-count: infinite;
}

.home_shadow3{
  margin: 0 auto;
  display: block;
  position: absolute;
  right: 1%;
  top: 0%;
  height: 25px;
  // background-color: #024282;
  background: linear-gradient(235deg, #325c7f, #132d42);
  border-radius: 50%;
  width: 7%;
  transform: translate(0%, 60%);

  animation-name: shadow;
  animation-duration: 10s;
  // animation-timing-function: steps(5, end);
  animation-iteration-count: infinite;
}

@keyframes card_bounce {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0);
  }

}

@keyframes shadow {
  0% {
    margin-top: 5px;
    width: 8%;
  }

  50% {
    margin-top: 0px;
    width: 7%;
  }

  100% {
    margin-top: 5px;
    width: 8%;
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px){
  .page4_platform, .complete1, .complete2, .complete3{
    display: none;
  }
  .page4_right_bottom{
    left: 18%;
    top: 10%;
    padding-bottom: 0;
    padding-top: 100px;
    width: 70%;
  }
  .adopt_bg{
    width: 75%;
    left: 18%;
    top: 42%;
  }
  .adopt_right_animal01{
    left: 58%;
    top: 57%;
    width: 23%;
  }
  .adopt_animal01{
    width: 15%;
    right: 60%;
    top: 5%;
  }
  .adopt_animal02{
    width: 15%;
    right: 38%;
    top: 5%;
  }
  .adopt_animal03{
    width: 15%;
    top: 5%;
  }
}




.home_vote{
  padding-top: 100px;

  background-image: url("../image/index/background/5-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  // background-position-y: -100%;
  overflow: hidden;
  .home_vtitle_before{
    // padding-top: 15%;
    .home_vote_title{
      @include main_title($keyWhite);
      font-size: 48px;
      position: relative;
      left: 7%;
      z-index: 4;
    }
  }
  .home_vote_pic{
    position: relative;
    // padding-top: 100px;
    // padding-bottom: 100px;
  }
  .home_adopt_fish{
    > img{
      position: absolute;
      z-index: -1;
      opacity: .15;
    }
  }
  .page5_2{
    width: 15%;
    position: absolute;
    right: 0;
    // bottom: -30%;
  }
  .page5_3{
    width: 15%;
    position: absolute;
    left: 0;
    // bottom: -40%;
  }
  .home_vote_main{
    position: relative;
    display: flex;
    align-items: flex-start;
  }
  .page5_octopus{
    display: inline-block;
    width: 100%;
    padding-top: 200px;
    position: relative;
    left: -5%;
    z-index: 2;
  }
  .page5_squid{
    top: 0;
    left: 5%;
    z-index: 0;
  }
  .page5_squid_bot{
    left: 50%;
    bottom: 10%;
  }
  .page5_shark{
    width: 10%;
    right: 15%;
    top: 10%;
    animation-name: fish_move_right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .vote_left{
    width: 60%;
  }
  .page5_vote{
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    // margin-top: 5%;
    background-color: rgba(255,255,255,.3);
    padding: 2%;
    z-index: 5;
    position: relative;
    left: -10%;
  }
  .page5_vote_top{
    width: 100%;
    display: flex;
    margin-bottom: 2%;
    vertical-align: middle;
    align-items: center;
    > img{
      width: 40%;
    }
    p{
      width: 50%;
      @include text($keyWhite);
      vertical-align: middle;
      margin-left: 7%;
    }
  }
  .page5_vote_middle{
    width: 100%;
    // margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input{
      display: none;
      &:checked + label{
        background-color: $blockYellow;
      }
    }
    label{
      width: 40%;
      display: block;
      border: 3px solid $blockYellow;
      border-radius: 6px;
      padding: 0 36px;
      font-size: 20px;
      font-weight: 400;
      background-color: #ffffff;
      text-align: center;
      color: #333333;
      margin: 0 auto;
      outline: none;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 20px;
    }
    .voteSubmit{
      @include btn50Green;
      width: 180px;
    }
  }

    .voteOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0, 0, .5);
    opacity: 0;
    z-index: -1;
    // transition: opacity 0.5s;
    #voteBarBox{
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      width: 330px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
      text-align: center;
      h4{
        color: $keyBlack;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .vote_bar_block{
        width: 100%;
        .voteBar {
          position: relative;
          display: block;
          margin-bottom: 10px;
          width: 100%;
          background: #eee;
          border-radius: 6px;
          box-shadow: $shadow;
          .voteBar-title {
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 700;
            font-size: 14px;
            color: #ffffff;
            span {
              display: block;
              padding: 0 10px;
              height: 28px;
              line-height: 28px;
            }
          }
          .voteBar-bar {
            height: 28px;
            width: 0px;
            background-color: $keyGreen;
            border-radius: 6px;
          }
          .voteBar-bar.changeBG{
            background-color: $keyBlack;
            transition: background-color 0s linear 2s;
          }
          .voteBar-percent {
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 14px;
            height: 28px;
            line-height: 28px;
            color: #333;
          }
          .voteBar-percent.changeBG{
            color: white;
            transition: color 0s linear 2s;
          }
        }
      }
      .voteBarClose2{
        margin-top: 20px;
        @include btn36Yellow();
      }
    }
  }
  .voteOverlay.-on{
    opacity: 1;
    z-index: 11;
  }

  .page5_vote_bottom{
    text-align: center;
    > button{
      @include btn50Green;
      box-shadow: $shadow2;
      width: 50%;
    }
  } 
  .page5_named{
    display: flex;
    width: 28%;
    border-radius: 30px;
    position: absolute;
    bottom: 37%;
    right: 10%;
    background-color: rgba(0,0,0,.3);
    padding: 2%;
    .page5_named_pic{
      width: 50%;
    }
    .page5_named_info{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      p{
        width: 100%;
        @include sub_title($keyGreen);
        text-align: center;
      }
      input{
        width: 100%;
        padding: 5%;
        border-radius: 6px;
      }
      button{
        @include btn50Green;
        .on{
          background-color: $blockYellow;
        }

        // height: 40px;
        // width: 100%;
      }
    }

  }
}

@media (max-width: 991px) {
  .home_vote .vote_left{
    width: 0%;
  }
  .home_vote .home_vote_main{
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
  }
  .home_vote .page5_vote{
    width: 65%;
    left: -5%;
  }
  .home_vote .page5_named{
    position: relative;
    width: 40%;
    bottom: 0;
    right: 0;

  }
}

@media (max-width: 768px) {
  .home_vote .vote_left{
    height: 0;
  }
  .home_vote .page5_vote{
    width: 75%;
    margin-bottom: 50px;
    left: 0;
  }
  .home_vote .page5_named{
    width: 75%;
  }
    .home_vote .home_vote_main{
    flex-direction: column;
    margin: 50px 0;
  }
  .home_vote .page5_vote_top p{
    font-size: 12px;
  }
  .home_vote .page5_vote_middle > button {
    font-size: 12px;
  }
  .home_vote .page5_vote_bottom > button{
    width: 50%;
    font-size: 16px;
    height: 40px;
    line-height: 30px;
    padding: 0 18px;
  }
}
@media (max-width: 576px) {

  .home_vote .page5_vote_middle label{
    padding: 0;
    font-size: 14px;
  }
}


.home_blog{
  padding-top: 15%;
  // border: 1px solid red;
  background-image: url("../image/index/background/6-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .blog_carousel_text{
    @include text($keyWhite);
  }
  .home_blogTitle_before{
    padding-bottom: 5%;
    .home_blog_title{
      @include main_title($keyWhite);
      font-size: 48px;
      position: relative;
      left: 7%;
      z-index: 4;
    }
  }
  .page6_2{
    width: 20%;
    position: absolute;
    left: 0;
    // bottom: -30%;
  }
  .page6_3{
    width: 20%;
    position: absolute;
    right: 0;
    // bottom: -20%;
  }
  .home_blog_pic{
    position: relative;
  }
  .page6_light{
    width: 30%;
    position: absolute;
    left: 10%;
    top: 20%;
  }
  .page6_platform{
    position: absolute;
    width: 90%;
    right: -5%;
  }
  .platform_1200{
    display: none;
  }
  .arrow_left{
    position: absolute;
    width: 3%;
    left: 36%;
    padding-top: 16%;
    &:hover{
      cursor: pointer;
      opacity: .8;
    }
  }
  .arrow_right{
    width: 3%;
    position: absolute;
    left: 88%;
    padding-top: 16%;
    z-index: 7;
    &:hover{
      cursor: pointer;
      opacity: .8;
    }
  }
  .home_carousel_content{
    width: 100%;
  }
  .home_blog_carousel{
    position: relative;
    width: 60%;
    // padding-top: 10%;
    padding-bottom: 15%;
    margin: 3%;
    margin-left: 44%;
    z-index: 5;
    overflow: hidden;
    .owl-carousel{
      z-index: 5;
      width: 65%;
      padding: 4%;
      padding-top: 3%;
      padding-bottom: 3%;
      border-radius: 30px;
      background-color: rgba(255,255,255, .6);
      .home_carousel_title{
        color: $keyWhite;
        width: 100%;
        font-size: 14px;
        position: relative;
        img{
          display: inline-block !important;
        }
        .blog_carousel_title{
          font-size: 36px;
          margin-right: 1%;
        }
        .home_blog_user{
          width: 24px;
          margin-right: 2%;
        }
        .home_heart{
          width: 24px;
          // margin-left: 20%;
          position: absolute;
          right: 0;
        }
      }
      .blog_carousel_image{
        width: 100%;
        height: 250px;
        padding-top: 2%;
        padding-bottom: 5%;
        img{
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .home_blog{
    .page6_platform{
      width: 100%;
    }
    .page6_light{
      width: 30%;
      left: 0;
    }
    .home_blog_carousel{
      margin-left: 40%;
    }
    .arrow_left{
      left: 28%;
    }
    .arrow_right{
      left: 87%;
    }  
    .blog_carousel_text{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}

@media (max-width: 991px){
    .home_blog{
    .page6_light{
      display: none;
    }
    .page6_platform{
      display: none;
    }
    .platform_1200{
      display: block;
      width: 100%;
      position: absolute;
      left: 12%;
    }
    .home_blog_carousel{
      margin-left: 38%;
    }
    .blog_carousel_text{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .arrow_left{
      left: 25%;
      padding-top: 21%;
    }
    .arrow_right{
      padding-top: 20.5%;
    }
  }
.home_blog .home_blog_carousel .owl-carousel .home_carousel_title .blog_carousel_title{
  font-size: 24px;
}
}
@media (max-width: 768px){
  .home_blog .home_blog_carousel .owl-carousel .home_carousel_title .blog_carousel_title{
    font-size: 24px;
  }
  .home_blog .home_blog_carousel .owl-carousel{
    border-radius: 15px;
  }
  .home_author{
    font-size: 12px;
  }
  .home_blog .blog_carousel_text{
    font-size: 12px;
  }
  .home_blog .home_blog_carousel .owl-carousel .blog_carousel_image{
    height: 130px;
  }
}
@media (max-width: 576px){
  .owl-dots{
    margin-top: 0 !important;
    span{
      width: 5px;
      height: 5px;
    }
  }
  .home_blog .home_blog_carousel .owl-carousel .home_carousel_title .home_heart{
    width: 14px;
  }
  .home_blog .home_blog_carousel .owl-carousel .home_carousel_title .blog_carousel_title{
    font-size: 16px;
  }
  .home_blog .home_blog_carousel .owl-carousel .home_carousel_title{
    margin-bottom: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .home_blog .home_blog_carousel .owl-carousel{
    border-radius: 10px;
  }
  .home_author{
    display: none;
  }
  .home_blog{
    .blog_carousel_text{
      -webkit-line-clamp: 3;
      line-height: 16px;
    }
  }
  .home_blog .home_blog_carousel .owl-carousel .blog_carousel_image{
    height: 90px;
  }
}



.home_game{
  // height: 100vh;
  // border: 1px solid red;
  background-image: url("../image/index/background/7-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  > img{
    position: absolute;
  }
  .home_gameTitle_before{
    padding-top: 3%;
    .home_game_title{
      @include main_title($keyWhite);
      font-size: 48px;
      position: relative;
      left: 7%;
      z-index: 4;
    }
  }
  .page7_2{
    width: 100%;
    bottom: -5%;
    left: 0;
    // height: 100vh;
  }
  .page7_3{
    position: relative !important;
    width: 100%;
    bottom: -5%;
    left: 0;
    // height: 100vh;
  }
  .page7_4{
    width: 100%;
    bottom: 0;
    left: 0;
    // height: 100vh;
  }
  .game_gif{
    left: 32%;
    top: 12%;
    width: 40%;
  }
  .game_btn{
    @include btn50Green();
    position: absolute;
    left: 48%;
    top: 57%;
  }

}






@media screen and (max-width: 991px){
  .mermaid_1, .mermaid_2, .mermaid_3, .page3_platform{
    display: none;

  }
}

.home_jourOpenBookSection{
  // padding-bottom: 30%;
  > img{
    position: absolute;
  }
}


//turn.js
.home_jourOpenBookSection {
  position: relative;
  margin-bottom: 10%;
}

.jourOpenBookRight {
  // width: 100%;
  // border: 3px solid red;
  margin: 0 auto;
  text-align: center;
}

#flipbook {
  // width: 80%;
  background-color:none !important;
  // width: 50% !important;
  // height: 450px !important;
  // border: 3px solid red;
  // margin-left: 50% !important;
  position: relative;
  left: 30%;
  transform: translateX(-50%);
  margin-top: 5%;
  text-align: center;
  overflow:hidden
}
@media screen and (max-width: 974px){
  #flipbook{
    // width: 50% !important;
  // height: 450px !important;
    left: 7%;
  }

  }

.hard{
  background-color: #fff;
  // border: 3px solid white;
}

.jourPage{
  background-color: #fff;

}

// .jourOpenBook{
  
//   border: 3px solid blue;

// }

.jourOpenBookPhoto img{
  width: 200px;
}

.jourPage{
  background-color: #fff;
}

.hard{
  background-color: #fff;
  
}



#flipbook .jourPage {
  background-color: white;
  line-height: 1.2;
  font-size: 20px;
  text-align: center;
}

#flipbook .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
  
}

#flipbook .hard {
  // background: #fff !important;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
  font-weight: bold;
  width: 200px;
  
}

#flipbook .jourCover {
  background: linear-gradient(to right, #C43535 0%, #A52B2B 3%, #7A2929 4%, #7A2929 6%, #A52B2B 6% #7A2929 7%, #A52B2B 30%, #C43535 60%, #A52B2B 90%, #7A2929 99%) !important;
}
#flipbook .jourLastPage{
    background: linear-gradient(to Left, #C43535 0%, #A52B2B 3%, #7A2929 4%, #7A2929 6%, #A52B2B 6% #7A2929 7%, #A52B2B 30%, #C43535 60%, #A52B2B 90%, #7A2929 99%) !important;
}

.odd{
  background: linear-gradient(to right, #333 0.1%, lightgray .5%, #fff 55%, lightgray 99%);
}

.even{
  background: linear-gradient(to left, #333 0.1%, lightgray .5%, #fff 55%, lightgray 99%);
}

// #flipbook .odd {
//   background-image: -moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//   background-image: -ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//   background-image: -o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//   background-image: linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//   -webkit-box-shadow: inset 0 0 5px #666;
//   -moz-box-shadow: inset 0 0 5px #666;
//   -o-box-shadow: inset 0 0 5px #666;
//   -ms-box-shadow: inset 0 0 5px #666;
//   box-shadow: inset 0 0 5px #666;

// }

// #flipbook .even {
//   background: -webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
//   background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
//   background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
//   background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
//   background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
//   background-image: linear-gradient(left, #fff 95%, #dadada 100%);
//   -webkit-box-shadow: inset 0 0 5px #666;
//   -moz-box-shadow: inset 0 0 5px #666;
//   -o-box-shadow: inset 0 0 5px #666;
//   -ms-box-shadow: inset 0 0 5px #666;
//   box-shadow: inset 0 0 5px #666;
// }




// page
.jourPageContent{
  width: 100%;
  margin: 10px auto;
  text-align: center;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  

}

.jourPageContent h4{
  @include sub_title($keyBlack);
  padding: 10px 0;
  display: block;
}

.jourPagePhotoTop{
  width: 100%;
  display: block;
}
.jourPagePhotoTop img{
  width: 94%;
  margin: 5px auto;
}

.jourPagePhotoDown{
  display: flex;
  justify-content: center;
  width: 100%;
  > img{
    width: 50%;
  }
  // border: 2px solid blue;
}


.jourPagePhotoDown img{
  width: 45%;
  // border: 2px solid green;
  margin: 5px 5px;
  text-align: justify;
}

.jourPageText{
  // border: 2px solid green;
  text-align: left;
  width: 95%;
  margin: 0 auto;

}

.jourPageText h4{
  @include sub_title($keyBlack);
}

.jourPageText p{
  // border: 2px solid green;
  margin: 0 auto;
  @include text($textBlack);
}


// lastPage
.jourLastPage h4{
  @include sub_title($keyBlack);
  margin: 200px auto;
  // border: 2px solid green;
  width: 80%;
}

// .home_message_box{
//   box-shadow: $shadow;
//   margin-left: 52%;
//   margin-top: 5%;
//   border-radius: 6px;
//   background-color: rgba(0,0,0,.5);
//   padding: 20px;
//   width: 50%;
//   .home_message{
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   width: 100%;
//   > textarea{
//     height: 45px;
//     border-radius: 6px;
//     font-size: 20px;
//   }
//   >button{
//     @include btn30Green;
//     margin-left: 4%;
//   }
// }
// }

@media screen and (max-width: 576px){
  .home_game .game_gif {
    top: 25%;
    left: 27%;
    width: 50%;
  }
  .home_game .game_btn{
    height: 30px;
    line-height: 22px;
    left: 38%;
    top: 74%;
  }
}


