@import "./layout/_variables.scss";
@import "./layout/_reset.scss";
@import "./layout/_mixins.scss";
@import "./layout/_button.scss";
@import "./layout/_font.scss";
@import "./layout/_header.scss";



body {
  // background-color: rgb(71, 134, 177);
  position: relative;
}

.jourBackground {
  @include BGColor(rgb(38, 166, 189), rgb(93, 179, 192));
  @include BG01('bg2-1', 80%);
  @include BG02('bg3-2', 150%);
  @include BGLeft('bg2-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg2-4', 90%, 0%, 10%);
  @include FishMove1(30%, 30%, 10s);
  @include FishMove2(30%, 60%, 15s);

  @media screen and (max-width: 676px) {
    @include BGLeft('bg2-3', 90%, 0%, -10%, -20%);

  }

}

.jourTitleBox {
  margin: 160px auto 0px;
  width: 100%;
  // border: 1px solid red;
  padding: 30px 0;
  max-width: 1200px;


  // .jourTitle {
  //   font-size: $mainTitle;
  //   font-family: $en;
  //   font-weight: 700;
  //   color: $keyBlack;
  //   @include main_title($keyBlack);
  //   text-align: center;
  // }

  .jourSubTitle {
    @include sub_title($keyBlack);
    text-align: center;
    margin: 10px 0 0;
  }
}

.jourContainer {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  max-width: 1200px;
}

.jourTitle {
  @include main_title($keyWhite);
  text-align: center;
}

.jourSubTitle {
  @include sub_title($keyWhite);
  text-align: center;
  // width: 80%;
}

// Choose Type

.jourTypeSection {
  margin: 0 auto;
  // display: inline-block;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
  max-width: 1200px;
  padding-top: 10px;
  text-align: left;

  .jourTypeTitle {
    @include main_title($keyWhite);
    padding: 0;
    width: 100%;
    margin: 20px;

    @media screen and (max-width: 676px) {
      margin: 20px;
    }
  }

  .jourTypeChoice {
    margin: 10px auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;

    // border: 3px solid yellow;
    @media screen and (max-width: 676px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .jourType {
    margin: 10px auto;
    display: block;
    width: 20%;
    overflow: hidden;
    text-align: center;

    // border: 3px solid red;

    @media screen and (max-width: 676px) {
      flex: 40%;
    }
  }

  .jourFixPhotoSize {
    width: 90%;
    overflow: hidden;
    border-radius: 6px;
    margin: 0 auto;
  }


  .jourTypePhoto img {
    width: 100%;
    display: block;
    margin: 0 auto;
    // border: 3px solid red;
    opacity: 0.5;

  }

  .jourTypePhoto:hover {
    transform: scale(1.5);
    transition-duration: 1s;
  }

  .jourTypeText {
    @include sub_title($keyWhite);
    text-decoration: none;
    display: block;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    // border: 3px solid white;
  }
}


// 4本書

.jourBookContainer {
  display: none;
}

.jourBookContainer.-on {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // border: 3px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.jourType.-on .jourTypePhoto img {
  opacity: 1;
  border-left: 10px solid $blockYellow;

}

// 書本
.jourBookSection {
  text-align: center;
  width: 40%;
  border: 3px solid black;
  // flex: 40%;

  @media screen and (max-width: 676px) {
    display: block;
    // background-color: red;
    width: 100%;
    margin-top: 50px;

  }
}

.jourBookSection:nth-child(2n) {
  // transform: translate(0,50%);
  margin-top: 120px;

  @media screen and (max-width: 676px) {
    margin-top: 50px;

  }
}


.jourBook {
  width: 80%;
  // height: 100%;
  margin: 0 auto;
  max-width: 400px;
  max-height: 600px;
  min-width: 270px;
  // min-height: 360px;
  display: block;
  // border: 3px solid deeppink;
  display: flex;
  flex-wrap: wrap;
  transform: rotateY(-3deg);
  box-shadow: 6px 7px 0px #C4C4C4;
  border-radius: 10px;

  animation-name: book;
  animation-duration: 3s;
  // animation-timing-function: steps(5, end);
  animation-iteration-count: infinite;
}

@keyframes book {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}


.jourBookLeft {
  // background: linear-gradient(to right, #fff 30%, #333 30%, #fff 70%,#A52B2B 70%);
  background: linear-gradient(to right, #C43535 0%, #A52B2B 30%, #7A2929 40%, #7A2929 60%, #A52B2B 60%);
  // background: linear-gradient(to righrgb(7, 6, 5)306 0%, #aa7304 30%, #6d4a03 40%, #6d4a03 60%, #aa7304 60%);

  width: 7%;
  display: inline-block;

}

.jourBookRight {

  // background-color: #fff;
  width: 93%;
  display: inline-block;
  // padding-bottom: 120px;
  border-radius: 0 6px 6px 0;
  height: 100%;
  // background-image: url("../image/journal/journal_element/jourcover.svg");
  background: linear-gradient(45deg, #7A2929 1%, #A52B2B 20%, #C43535 50%, #A52B2B 80%, #7A2929 99%);
  // background: linear-gradient(45deg, #6d4a03 1%, #aa7304 20%, #f2a306 50%, #aa7304 80%, #6d4a03 99%);
}

.jourBookPhoto {
  width: 60%;
  // height: 240px;
  margin: 20px auto 10px auto;
  // overflow: hidden;
  box-shadow: 0px 2px 6px #555;
  object-fit: cover;
}

.jourBookPhoto img {
  width: 100%;
  border-radius: 6px;
  border: 2px solid white;

  // box-shadow: #999 2px 2px 10px;
}

.jourBookName {
  margin: 0 auto;
  text-align: center;
  @include sub_title($keyWhite);
}

.jourBookText {
  @include text($keyWhite);
  font-size: 14px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
  padding: 20px 10px;


  table {
    margin: 0 auto;
    text-align: left;
    box-shadow: none;

    tr {
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      font-size: 16px;

    }

    td {
      padding-left: 20px;
      font-size: 16px;

    }
  }
}

.jourBookShadow {
  margin: 0 auto;
  display: block;
  height: 15px;
  // background-color: #024282;
  background: linear-gradient(235deg, #325c7f, #132d42);
  border-radius: 50%;
  width: 80%;
  transform: translate(0%, 140%);

  animation-name: jourshadow;
  animation-duration: 3s;
  // animation-timing-function: steps(5, end);
  animation-iteration-count: infinite;
}

@keyframes jourshadow {
  0% {
    margin-top: 20px;
    width: 50%;
  }

  50% {
    margin-top: 0px;
    width: 60%;
  }

  100% {
    margin-top: 20px;
    width: 50%;
  }
}

.jourStone {
  margin: 0 auto;
  display: block;
  width: 100%;
  // border: 3px solid yellow;
}




// lightbox
.jourLightBox {
  background-color: #fff;
  
  position: absolute;
  width: 90%;
  display: none;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  // border: 3px solid black;
  padding: 5px;
  max-width: 1200px;
  // height: 95%;
  z-index: 12;

  @media screen and (max-width: 676px) {
    position: absolute;
    top: 28%;
    left: 50%;
    width: 100%;
  }
}

.closeLightbox {
  position: absolute;
  top: 2px;
  right: 2px;
  border: 1px solid #414040;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  cursor: pointer;

  &>div {
    position: absolute;
    border: 1px solid #414040;
    width: 76%;
    top: 16px;
    left: 4px;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }

}

.jourBookOpenBtn {
  cursor: pointer;
}

div.jourLightBox.-on {
  /* 加上 -on 之後，Modal 漸漸出現，因為有設定 transition */
  opacity: 1;
  z-index: 15;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  position: absolute;
  top: 44%;
  left: 50%;
  // border: 5px solid red;

  @media screen and (max-width: 676px) {
    position: absolute;
    top: 28%;
    left: 50%;
  }


}

// div.jourLightBox.-opacity-zero {
//   /* 關閉 Modal 時，先讓 opacity設定0，就會慢慢變成完全透明，但這時會擋到後面的元素，所以要再移除 -on 及 -opacity-zero 這兩個 class */
//   opacity: 0;
// }


/* 元素 article 置中及基本樣式 */
// div.jourLightBox {
//   background-color: hsla(0, 0, 0, 1);
//   width: 100%;
//   // max-width: 800px;
//   box-shadow: 0 0 10px #ddd;
//   // padding: 10px;
//   position: absolute;
//   top: 35%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   // display: none;
// }

//---------------------------------------






// adopt
.jourAdoptSection {
  margin: 0 auto;
  // display: inline-block;
  width: 100%;
  background-color: hsla(255, 255, 255, 1);
  padding: 50px 0;
  display: block;
}

.jourAdoptContent {
  width: 100%;
  margin: 0 auto;
}

.jourAdoptMainTitle {
  padding: 20px 0;
  width: 100%;
}

.jourAdoptTitle {
  @include main_title($keyBlack);
  text-align: center;
  width: 100%;
  padding: 20px 0;
  // border: 3px solid pink;
}

.jourAdoptText {
  @include text($keyBlack);
  margin: 0 auto;
  text-align: center;
  width: 80%;
  // border: 3px solid yellow;
}

.jourAdopterSection {
  @include text($keyBlack);
  margin: 20px auto 10px auto;
  text-align: center;
  font-weight: 400;
  width: 100%;
  // border: 3px solid yellow;
}

.jourAdopterPhoto {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.jourAdopterlist {
  display: inline-block;
  // border: 3px solid yellow;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.jourAdopterlist li {
  display: inline-block;
}

.jourAdopterlist li img {
  width: 40px;
}

.jourToAdopt {
  margin: 0 auto;
  // border: 3px solid yellow;
  text-align: center;
  width: 100%;
}

.jourLightboxBtn {
  @include btn50Green;
  box-shadow: $shadow2;
  margin: 20px auto;
  width: 200px;
  text-align: center;
}



// comment
.jourCommentSection {
  margin: 0 auto 50px auto;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;

}

.jourCommentContent {
  margin: 0 auto;
  background-color: #000;
  padding: 50px 0;
}

.jourCommentTitle {
  @include main_title($keyWhite);
  text-align: center;
  width: 100%;
  // border: 3px solid pink;
}

.jourCommentText {
  @include text($keyWhite);
  margin: 0 auto;
  text-align: center;
  // border: 3px solid yellow;
}

.jourCommentArea {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 1);
  // border: 3px solid yellow;
}

#jourCommentTextarea {
  margin: 20px auto;
  border-radius: 6px;
}

// comment list
.jourCommentList {
  width: 80%;
  margin: 0 auto;
  // border: 3px solid pink;
  display: block;
  text-align: center;
}

.jourCommentList li {
  margin: 15px auto;
}

.jourCommentPersonPic {
  display: inline-block;
  width: 10%;
  margin: 0 auto;
  // border: 3px solid pink;
  text-align: center;
}

.jourCommentOrder {
  display: inline-block;
  margin: 0 auto;
  // border: 3px solid pink;
  width: 85%;
}

.jourCommentInfo,
.jourCommentBox {
  display: block;
  // border: 3px solid blue;
  width: 100%;
}

.jourCommentBox textarea {
  display: block;
  margin: 20px auto;
}

.jourLightboxBtn {
  display: block;
  margin: 0 auto;
  text-align: center;
  // border: 3px solid yellow;
}

.jourCommentPersonName {
  display: inline-block;
  @include text($keyBlack);
  text-align: left;
  // border: 3px solid pink;
  width: 50%;
}

.jourCommentTime {
  display: inline-block;
  @include text($keyBlack);
  text-align: right;
  // border: 3px solid pink;
  width: 48%;
}

.jourCommentBox {
  width: 100%;
  // border: 3px solid pink;
  border-radius: 6px;
}

.jourCommentWords {
  width: 85%;
  // border: 3px solid pink;
  display: inline-block;
  text-align: left;
  @include text($textBlack);
  box-shadow: $shadow;
  padding: 5px;
  border-radius: 6px;
}

.jourCommentLike {
  width: 5%;
  // border: 3px solid pink;
  display: inline-block;
}

.jourCommentReport {
  width: 5%;
  // border: 3px solid pink;
  display: inline-block;
}




// Adopt Html
.adoptLightBox {
  // background-color: hsla(255, 255, 255, 0.6);
  margin: O auto;
  display: block;
  width: 100%;
  // border: 3px solid black;
}

.adoptSubTitle {
  color: $keyWhite !important;
}

.adoptSection {
  width: 80%;
  margin: 0 auto;
  border: 3px solid black;
  max-width: 1200px;
  padding: 50px;

  @media screen and (max-width: 676px) {
    padding: 20px;
    width: 90%;
  }
}

.adoptInnerSection{
  width: 100%;
  margin: 0 auto;
  background-color: hsla(255, 255, 255, 0.2);
  // border: 3px dashed $keyGreen;
  border-radius: 6px;
  text-align: center;
padding: 20px 0;
}

.adoptDetail{
  display: block;
  width: 100%;
}

.adoptSection .commonTitleBox .commonTitle {
  color: $keyWhite !important;
}

.adoptAqua {
  display: inline-block;
  width: 33%;
  // border: 3px solid black;
  vertical-align: middle;
  padding: 20px;
  object-fit: cover;

  @media screen and (max-width: 676px) {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

.adoptAqua p {
  @include sub_title($keyWhite);
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  // border: 3px solid black;
}

.adoptAqua img {
  border-radius: 50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  // border: 3px solid black;
  border: 3px solid #fff;

  @include box-shadow;
}

.adoptProcessContainer {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  border-radius: 6px;
  background: rgba(0, 0, 0, .8);
    padding: 20px;

  @media screen and (max-width: 676px) {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

}

.adoptProcessContainer h4 {
  @include sub_title($keyWhite);
}

// adopt right
.adoptProcessList {
  // border: 3px solid blue;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.adoptStepTitle{
  @include main_title($keyWhite);
  padding: 0;
  width: 100%;
  margin: 20px;
  text-align: left;

  @media screen and (max-width: 676px) {
    margin: 20px;
  }
}

.adoptTabList{
  @include StepBox;
}

.adoptProcessContents {
  // border: 3px solid green;
  width: 100%;
  margin: 0 auto;
  // border: 3px solid blue;
  text-align: left;
}

.adoptConfirmAqua {
  // border: 3px solid orange;
  width: 100%;
  margin: 0 auto;
}

.adoptProcessContents h4 {
  width: 100%;
  @include sub_title($keyWhite);
  padding-top: 10px;
  // border: 3px solid blue;

}

.aquaNameSection {
  width: 95%;
  margin: 0 auto;

}

.adoptProcessContents select {
  width: 40%;
  margin: 5px auto;
  height: 30px;
}

.adoptAmountSection {
  width: 95%;
  // border: 3px solid red;
  margin: 5px auto;
}

.adoptConfirmAmount {
  // border: 3px solid red;
  width: 100%;
  margin: 20px auto;
}

.adoptAmountType {
  width: 22%;
  display: inline-block;
  margin: 0 auto;
  // border: 3px solid red;
  // height: 30px;
}

.adoptConfirmAmount label input {
  display: inline-block;
  height: 30px;
  // box-shadow: $shadow;

}

.adoptSelfAmountType {
  // width: 40%;
  display: inline-block;
  // border: 3px solid red;
}

.adoptSelfAmountType input {
  display: inline-block;
  // border: 3px solid yellow;
  margin: 0 5px;
  // box-shadow: $shadow;
  // border-radius: 6px;
}


.adoptProcessStep {
  // border: 3px solid red;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}



.adoptProcessBtn, .adoptBackBtn {
  @include btn50Green;
  box-shadow: $shadow2;
  margin: 10px 5px;
  // width: 30%;
  // text-align: center;
  // line-height: 40px;
  // height: 40px;
  // // border: 3px solid green;
  // border-radius: 20px;

  display: inline-block;

  @media screen and (max-width: 676px) {
    padding: 0 15px;

  }
}

// step 2
.adoptTab {
  width: 85%;
  margin: 0 auto;
  @include text($keyWhite);

  // border: 2px solid green;
}

.adoptTab h4 {
  width: 95%;
  margin: 0 auto;
}

.adoptInfo {
  width: 95%;
  margin: 5px auto;
  // border: 2px solid green;
  @include text($keyWhite);
}

.adoptInfo textarea {
  width: 100%;

}

.adoptInfo p {
  @include text($keyWhite);
}

.adoptInfo input {
  height: 30px;
  margin-bottom: 5px;

}

.adoptInfo h6 {
  @include text12($keyWhite);
  // border: 2px solid red;
}

.adoptConfirm {
  width: 95%;
  margin: 5px auto;
  // border: 2px solid green;
  @include text($keyWhite);
}


//step3
.adoptPaymentSection {
  width: 95%;
  // border: 3px solid red;
  margin: 5px auto;
}

.adoptPayment {
  margin: 5px auto;
  width: 100%;
  // border: 3px solid blue;
  @include text($keyWhite);
}

.adoptPayment p {
  margin-top: 5px;
}

.adoptPayment input {
  height: 30px;
  margin-bottom: 5px;
}

//step 4
.adoptConfirmSection {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.adoptConfirmCheck {
  // border: 3px solid blue;
  width: 100%;
  vertical-align: top;
  margin: 0 auto;


  @media screen and (max-width: 767px) {
    text-align: left;
  }
}

.adoptConfirm {
  // border: 2px dotted $keyGreen;
  margin: 10px 10px;
  width: 45%;
  @include sub_title($keyWhite);
  display: inline-block;
  text-align: left;
  border-radius: 6px;
  vertical-align: top;

  @media screen and (max-width: 767px) {
    width: 90%;
    // border: 2px dotted red;

    // margin: 0 auto;
    text-align: left;

  }
}

.adoptConfirm h5 {
  // border: 3px solid red;
  margin: 5px auto;
  @include text($keyWhite);
  font-weight: 500;
  background-color: $keyGreen;
  border-radius: 6px;
  padding: 5px;
  height: 30px;
}

.adoptConfirm input {
  height: 30px;
  width: 100%;
  margin-bottom: 5px;

}

.adoptProcessStepFinal {
  display: inline-block;
  width: 100%;
  // border: 3px solid red;
}




// turn css
.jourLightBox {
  width: 80%;
  margin: 0 auto;
}

.jourOpenBookSection {
  width: 80%;
  margin: 0 auto;
  // border: 3px solid white;
  // background-color: rgba(0,0,0,.8);
  text-align: center;

}

.jourOpenBookRight {
  // width: 100%;
  // border: 3px solid red;
  margin: 0 auto;
  text-align: center;
}

#flipbook2 {
  width: 80%;
  background-color: none;
  width: 800px;
  height: 600px;
  // border: 3px solid red;
  margin: 20px auto !important;
  text-align: center;
}

.even {
  // background-color: #fff;
  background: linear-gradient(to left, #333 0.1%, lightgray .5%, #fff 55%, lightgray 99%);
}

.odd {
  background: linear-gradient(to right, #333 0.1%, lightgray .5%, #fff 55%, lightgray 99%);
}

.jourCover {
  background: linear-gradient(45deg, #7A2929 1%, #A52B2B 20%, #C43535 50%, #A52B2B 80%, #7A2929 99%);
}


#demobook .p1 {
  background: linear-gradient(to right, #C43535 0%, #A52B2B 3%, #7A2929 4%, #7A2929 6%, #A52B2B 6% #7A2929 7%, #A52B2B 30%, #C43535 60%, #A52B2B 90%, #7A2929 99%);

}

.jourOpenBookPhoto{
  object-fit: cover;
}


.jourOpenBookPhoto img {
  width: 200px;
}

#flipbook2 .jourPage {
  width: 800px;
  height: 600px;
  background-color: white;
  line-height: 1.2;
  font-size: 20px;
  text-align: center;
}

#flipbook2 .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;

}

#flipbook2 .hard {

  // background: #fff !important;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
  font-weight: bold;
  width: 200px;
}

#flipbook2 .jourCover {
  background: linear-gradient(to right, #C43535 0%, #A52B2B 3%, #7A2929 4%, #7A2929 6%, #A52B2B 6% #7A2929 7%, #A52B2B 30%, #C43535 60%, #A52B2B 90%, #7A2929 99%) !important;
}

#flipbook2 .jourLastPage, #demobook .jourLastPage {
  background: linear-gradient(to Left, #C43535 0%, #A52B2B 3%, #7A2929 4%, #7A2929 6%, #A52B2B 6% #7A2929 7%, #A52B2B 30%, #C43535 60%, #A52B2B 90%, #7A2929 99%) !important;

}

#flipbook2 .odd {
  // background: -webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
  // background-image: -webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image: -moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image: -ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image: -o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image: linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;

}

#flipbook2 .even {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
  background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: linear-gradient(left, #fff 95%, #dadada 100%);
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
}

// page
.jourPageContent {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  // border: 2px solid red;
  display: block;

}

.jourPageContent h4 {
  @include sub_title($keyBlack);
  padding: 10px 0;
  display: block;
  // border: 2px solid red
}

.jourPagePhotoArea {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  // border: 2px solid red
}

.jourPagePhotoLeft {
  width: 44%;
  display: inline-block;
  padding: 4px;

}

.jourPagePhotoLeft img {
  width: 100%;
  // margin: 0px auto;
  // border: 2px solid blue;
}

.jourPagePhotoRight {
  width: 54%;
  display: inline-block;
  padding-right: 4px;

  // border: 2px solid blue;
}


.jourPagePhotoRight img {
  width: 100%;
  // border: 2px solid green;
  // margin: 5px 0px;
  text-align: justify;
}

.jourPagePhotoRight img:first-child {
  margin-bottom: 10px;
}

.jourPageText {
  // border: 2px solid green;
  text-align: left;
  width: 95%;
  margin: 0 auto;
  padding: 0 10px;

}

.jourPageText h4 {
  @include sub_title($keyBlack);
}

.jourPageText p {
  // border: 2px solid green;
  margin: 0 auto;
  @include text($textBlack);

}


// lastPage
.jourLastPage h4{
  @include sub_title($keyWhite);
  margin: 200px auto;
  // border: 2px solid green;
  width: 80%;
  font-weight: 700;
}

// demobook
#demobook {
  width: 80%;
  background-color: none;
  width: 600px;
  height: 420px;
  // border: 3px solid red;
  margin: 20px auto !important;
  text-align: center;
}

.demobook .jourPageText h4 {
  font-size: 16px;
  line-height: 1;
}

.demobook .jourPageText p {
  font-size: 8px;
  line-height: 1.4;
  overflow: hidden;
}
    

//adopt lightbox
.jourToAdopt {
  cursor: pointer;
  margin: 20px auto;
}

.jourToAdopt_close {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: right;
}