.memBackground{
  @include BGColor(rgb(139, 227, 243),  rgb(195, 239, 245));
  @include BG01('bg1-2', 100%);
  @include BG02('bridge', 140%);
  @include BGLeft('bg1-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg1-4', 90%, 0%, 10%);
  @include FishMove1(30%, 30%, 10s);
  @include FishMove2(30%, 60%, 15s);
}

.memMain {
  max-width: 1200px;
  width: 80%;
  margin-top: 150px;
  margin-bottom: 50px;
  >.row{
    height: 750px;
    @media screen and (max-width: 1199px){
      height: inherit;
    }
  }
  @media screen and (max-width: 1199px){
    margin-bottom: 50px;
  }
  @media screen and (max-width: 991px){
    margin-top: 105px;
  }
  @media screen and (max-width: 676px){
    width: 90%;
  }
  i{
    cursor: pointer;
  }
}

// 左邊list
.memList {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  // border: 1px solid red;
  // height: 80vh;
  @media screen and (max-width: 1199px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    // align-items:stretch;
  }
  .memImgBox{
    @media screen and (max-width: 1199px){
      width: 25%;
      margin: 0;
    }
    @media screen and (max-width: 767px){
      width: 40%;
    }
    .memImgArea {
      width: 100%;
      padding-top: 100%;
      position: relative;
      margin: 30px auto;
      // border: 1px solid blue;
      @media screen and (max-width: 1199px){
        margin: 0 0 0 15px;
      }
      @media screen and (max-width: 767px){
        margin: 0;
      }
      .memImg{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        // border: 3px solid rgb(255, 255, 255);
        box-shadow: $shadow2;
        overflow: hidden;
        img{
          width: 100%;
          object-fit: cover;
        }
      }
      label{
        @include btn36Yellow;
        box-shadow: $shadow2;
        position: absolute;
        bottom: 0;
        right: 0;
        i{
          transform: translateY(-20%);
        }
      }
  
    }
  }

  
    // border: 1px solid green;
    // @media screen and (max-width: 1199px){
    //   width: 65%;
    //   margin: 30px 0;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    // }
    .memNameBox{
      // border: 1px solid green;
      @media screen and (max-width: 1199px){
        width: 40%;
      }
      @media screen and (max-width: 767px){
        width: 60%;
      }
      h3 {
        color: white;
        font-size: 28px;
        text-align: center;
        @media screen and (max-width: 479px){
          font-size: 24px;
        }
      }
      .memPointBox{
        text-align: center;
        span{
          @include sub_title($blockYellow);
        }
      }
    }
    ul{
      // border: 1px solid red;
      @media screen and (max-width: 1199px){
        width: 25%;
        margin: 0 15px 0 0;
      }
      @media screen and (max-width: 767px){
        width: 100%;
        margin: 30px 0 0 0 ;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
      }
      
      .membtn .memTab:hover{
        background-color: $keyGreen;
        color: #ffffff;
        border: 4px solid $keyWhite;
      }
      .membtn {
        width: 80%;
        margin: 0 auto;
        line-height: 50px;
        text-align: center;
        @media screen and (max-width: 1199px){
          width: 100%;
        }
        @media screen and (max-width: 767px){
          width: 30%;
          margin: 0 5px;
        }
        @media screen and (max-width: 479px){
          width: 45%;
          // margin: 0 3px;
        }
        // @media screen and (max-width: 1199px){
        //   width: 30%;
        //   margin: 0 3% 0 0;
        // }
        .memTab {
          margin: 0 auto;
          width: 100%;
          @include sub_title($keyBlack);
          border: 4px solid $keyGreen;
          border-radius: 6px;
          line-height: 40px;
          margin-top: 20px;
          box-shadow: $shadow2;
          background-color: #ffffff;
          @media screen and (max-width: 1199px){
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            margin-top: 0;
          }
          @media screen and (max-width: 479px){
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 0;
          }
        }
        .memTab.-on {
          background-color: $keyGreen;
          color: #ffffff;
        }
      }
    }

  



}




// 右邊內容
.memProContent {
 
  @media screen and (max-width: 1199px){
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .memTab.-on{
    display: block;
  }
  .memTab{
    display: none;
  }
  .memTab {
    // border: 1px solid black;
    background-color: #ffffff;
    height: 100%;
    border-radius: 6px;
    padding: 0 40px 50px;
    @media screen and (max-width: 1199px){
      padding: 0 25px 50px;
    }
    @media screen and (max-width: 676px){
      padding: 0 5px 20px;
    }
    .memAllTitle{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      h3 {
        @include main_title(#333333);
        margin: 20px 0;
      }
      button{
        @include btn36Yellow();
      }
    }

  }
  .memProfile{
    .memProAll{
      .memProfileContent {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: $shadow;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .memProTit {
          color: $keyGreen;
          width: 80px;
        }
        .memProText{
          width: 80%;
        }
      }
    }
  }
  .memBlog{
    >ul{
      margin-bottom: 20px;
      .memSpanBlog .memBlogTab:hover{
        background-color: $blockYellow;
      }
      .memSpanBlog{
        display: flex;
        background-color: #ffffff;
        line-height: 30px;
        >div{
          .memBlogTab {
            // margin-right: 20px;
            text-align: center;
            // margin: 0 auto;
            width: 100px;
            font-size: 20px;
            font-weight: 400;
            color: #333333;
            border: 4px solid $blockYellow;
            border-radius: 6px;
            // line-height: 50px;
            box-shadow: $shadow;
            background-color: #ffffff;
          }
          .memBlogTab.-on {
            background-color: $blockYellow;
          }
          .span2{
            margin-left: 20px;
          }
        }
      }
    }
    .memBlogAll{
      margin-bottom: 30px;
      height: 520px;
      overflow-y: scroll;
      .memBlogTab.-on{
        display: block;
      }
      .memBlogTab{
        display: none;
      }
      .memBlogTable{
        background-color: white;
        border-radius: 6px;
        box-shadow: $shadow;
        overflow: hidden;
        .memBlogCard{
          padding: 10px 0;
          align-items: center;
          
          .mem_ana, .memFormTitle{
            &:first-child{
              @media screen and (max-width: 575px){
                display: none;
              }  
            }
          }
          
        }
        .memBlogCard:nth-child(2n+1){
          background-color: #EEEEEE;
        }
        .memBlogForm:first-child{
          background-color: $keyGreen;
          color: #ffffff;
        } 
      }
    }
  }
  .memThanks{
    .memThanksAll{
      background-color: white;
      border-radius: 6px;
      box-shadow: $shadow;
      overflow: hidden;
      height: 600px;
      overflow-y: scroll;
      .memThanksTable{
        background-color: white;
        border-radius: 6px;
        box-shadow: $shadow;
        overflow: hidden;
        .memCard{
          padding: 10px 0;
          align-items: center;
        }
        .memCard:nth-child(2n+1){
          background-color: #EEEEEE;
        }
        .memBlogForm:first-child{
          background-color: $keyGreen;
          color: #ffffff;
        } 
      }
    }
  }
  .memAdopt{
    .memAdoptAll{
      background-color: white;
      border-radius: 6px;
      box-shadow: $shadow;
      overflow: hidden;
      height: 600px;
      overflow-y: scroll;
      .memAdoptTable{
        background-color: white;
        border-radius: 6px;
        box-shadow: $shadow;
        overflow: hidden;
        .memAdoptCard{
          padding: 10px 0;
          align-items: center;
        }
        .memAdoptCard:nth-child(2n+1){
          background-color: #EEEEEE;
        }
        .memAdoptCard:first-child{
          background-color: $keyGreen;
          color: #ffffff;
        } 
      }
    }
  }
  .memOrder{
    >ul{
      margin-bottom: 20px;
      .memSpanBlog .memBlogTab:hover{
        background-color: $blockYellow;
      }
      .memSpanBlog{
        display: flex;
        background-color: #ffffff;
        line-height: 30px;
        >div{
          .memBlogTab {
            text-align: center;
            width: 100px;
            font-size: 20px;
            font-weight: 400;
            color: #333333;
            border: 4px solid $blockYellow;
            border-radius: 6px;
            box-shadow: $shadow;
            background-color: #ffffff;
          }
          .memBlogTab.-on {
            background-color: $blockYellow;
          }
          .span2{
            margin-left: 20px;
          }
        }
      }
    }

    .memOrderAll{
      height: 520px;
      overflow-y: scroll;
      .memBlogTab.-on{
        display: block;
      }
      .memBlogTab{
        display: none;
      }
      .memOrderTable{
        background-color: white;
        border-radius: 6px;
        box-shadow: $shadow;
        overflow: hidden;
        .memOrderCard{
          padding: 20px 0;
          align-items: center;
          .memStep{
            cursor: pointer;
            i{
              transition: .3s;
              transform: rotate(0deg);
            }
            i.rotate{
              transform: rotate(180deg);
            }
          }
          .memStepContent{
            margin: 30px auto 0;
            box-shadow: $shadow;
            border-radius: 6px;
            overflow: hidden;
            display: none;
            .memOrderCardDetail{
              padding: 10px 0;
            }
            .memOrderCardDetail:nth-child(2n){
              background-color: #ffffff;
            }
            .memOrderCardDetail:nth-child(2n+1){
              background-color: #EEEEEE;
            }
            .memOrderCardDetail:first-child{
              background-color: $keyBlack;
              color: #ffffff;
            } 
          }
        }
        .memOrderCard:nth-child(2n+1){
          background-color: #EEEEEE;
        }
        .memOrderCard:first-child{
          background-color: $keyGreen;
          color: #ffffff;
        } 
      }
    }
  }
}


// forget password
.memForget{
  text-align: center;
  .forgetForm{
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    h3{
      @include main_title(#ffffff);
      margin-bottom: 20px;
      text-align: left;
    }
    a{
      @include btn36NoneWhite;
      width: 220px;
    }
    p{
      text-align: left;
      margin: 20px 0 0  0;
      color: #ffffff;
    }
    // h5{
    //   color: #ffffff;
    //   text-align: center;
    //   position: relative;
    // }
    // .memLine{
    //   display: flex;
    // }
    // .memLine::before{
    //   content: '';
    //   width: 40%;
    //   height: 0;
    //   border-top: 1px solid #ffffff;
    //   margin: auto;
    //   margin-left: 2%;
    // }
    // .memLine::after{
    //   content: '';
    //   width: 40%;
    //   height: 0;
    //   border-top: 1px solid #ffffff;
    //   margin: auto;
    //   margin-right: 2%;
    // }
    // form a{
    //   font-size: 16px;
    // }
    // .memForLink{
    //   display: flex;
    //   justify-content: space-between;
    // }
    input {
      padding: 5px 15px; 
      background:#ffffff; 
      border:0 none;
      cursor:pointer;
      border-radius: 5px; 
      height: 40px;
      text-align: center;
      width: 100%;
      margin: 40px 0 40px;
    }
    .submitBtnFor{
      @include btn50Green;
      width: 240px;
      margin: 0 auto 10px;
    }
  }
}


// login
.memLogin{
  text-align: center;
  #LogInForm{
    margin: 0 auto;
    padding: 20px 20px 40px;
    // border: 1px solid black;
    background-color: rgba(0, 0, 0, .5);
    width: 330px;
    box-shadow: 0 0 10px #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    h3{
      @include main_title($keyWhite);
      margin-bottom: 20px;
      width: 200px;
      text-align: left;
    }
    .btn_modal_close{
      position: absolute;
      top: 15px;
      right: -5px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      width: 35px;
      height: 35px;
      margin-right: 20px;
      cursor: pointer;
      > div {
          position: absolute;
          border: 1px solid #ffffff;
          width: 76%;
          top: 16px;
          left: 4px;
          &:nth-child(1) {
              transform: rotate(45deg);
          }
          &:nth-child(2) {
              transform: rotate(-45deg);
          }
      }
    }
    .memForgot{
      color: #1BB8CE;
    }
    a{
      text-decoration: none;
      font-size: 14px;
    }
    p{
      // 先display:none
      font-size: 12px;
      text-align: center;
      margin: 10px;
      color: #ffffff;
      display: none;
    }
    h6{
      text-align: right;
      margin-bottom: 20px;
    }
    h5{
      color: #ffffff;
      text-align: center;
      position: relative;
      font-size: 16px;
    }
    .memLine{
      display: flex;
      // margin-bottom: 20px;
    }
    .memLine::before{
      content: '';
      width: 40%;
      height: 0;
      border-top: 1px solid #ffffff;
      margin: auto;
      margin-left: 2%;
    }
    .memLine::after{
      content: '';
      width: 40%;
      height: 0;
      border-top: 1px solid #ffffff;
      margin: auto;
      margin-right: 2%;
    }
    form a{
      font-size: 16px;
    }
    input {
      padding: 5px 15px; 
      background:#ffffff; 
      border:0 none;
      cursor:pointer;
      border-radius: 5px; 
      margin-bottom: 20px;
      height: 40px;
      width: 100%;
      font-size: 20px;
    }
    #memId{
      margin-top: 20px;
    }
    #memPsw{
      margin-bottom: 10px;        
    }
    .memCreat{
      color: #ffffff;
    }
    .submitBtnLog{
      @include btn50Green;
      width: 240px;
      margin-bottom: 20px;
      @media screen and (max-width: 479px){
        width: 200px;
      }
    }
    .submitBtnSign{
      @include btn50White;
      width: 240px;
      @media screen and (max-width: 479px){
        width: 200px;
      }
    }
  }
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0, 0, .8);
  opacity: 0;
  z-index: -10;
  transition: opacity 0.5s;
}
.overlay.-on{
  opacity: 1;
  z-index: 11;
}
.overlay.-opacity-zero{
  opacity: 0;
}
// signup
.memSignup{
  // text-align: center;
  .signUpForm{
    max-width: 800px;
    margin: 150px auto 50px;
    padding: 20px;
    // border: 1px solid black;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px #ddd;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    @media screen and (max-width: 991px){
      margin-top: 105px;
    }
    .memSignRight{
      h3{
        @include main_title($keyWhite);
        margin-bottom: 20px;
        text-align: left;
      }
      .memSignDetail{
        text-align: center;
        input {
          width: 100%;
          padding: 5px 15px; 
          background:#ffffff; 
          border:0 none;
          cursor:pointer;
          border-radius: 5px; 
          margin-bottom: 20px;
          height: 40px;
        }
        .Sex{
          display: flex;
          line-height: 40px;
          width: 100%;
          // margin-bottom: 20px;
          .memGender{
            color: #ffffff;        
            text-align: left;
          }
          p{
            color: #ffffff;
          }
          input{
            width: 20px;
            margin: auto 10px;
            line-height: 40px;
          }
        }
        .memBir{
          text-align: left;
          color: #333333;
          line-height: 40px;
          width: 100%;
          // margin-right: 20px;
          p{
            color: #ffffff;
            margin-right: 20px;
          }
          input{
            margin-bottom: 40px;
          }
        }
        .submitBtnSign{
          margin: 0 auto;
          @include btn50Green;
          display: block;
          box-shadow: $shadow2;
          width: 240px;
        }
        h5{
          color: #ffffff;
          text-align: center;
          margin: 20px auto;
          display: inline-block;
          &:last-child{
            margin-left: 20px;
            color: $keyGreen;
            cursor: pointer;
            &:hover{
              color: $darkGreen;
            }
          }
        }
      }
    }
    .memSignLeft{
      .memSignImg{
        margin: 20px auto;
        // border: 1px solid black;
        border-radius: 50%;
        overflow: hidden;
        width: 80%;
        padding-top: 80%;
        position: relative;
        // box-shadow: 2px 2px 12px gray;
        img{
          width: 100%;
          height: 100%;
          max-width: 60%;
          max-height: 60%;
          border:2px solid #fff;
          border-radius: 50%;
          object-fit:cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          
        }
      }
      label{
        @include btn36Yellow;
        display: block;
        width: 180px;
        margin: 0 auto;
        // border: 3px solid $blockYellow;
        // position: absolute;
      }
      .memInter{
        margin-top: 30px;
        border: 1px solid #ffffff;
        border-radius: 6px;
        color: #ffffff;
        padding: 10px;
        h4{
          margin: 0 auto 20px;
          text-align: center;
        }
        p{
          font-size: 8px;
          line-height: 16px;
          text-align: justify;
        }
      }
    }
  }
}



//profile
.profile_btn{
  text-align: center;
  #edit_confirm{
    @include btn36Yellow();
  }
  #edit_cancel{
    @include btn36NoneBlack();
  }
}
