.cardMain{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1006px;
    margin: 0 auto;
    border: 3px solid $keyWhite;
    border-radius: 6px;
    .cardMaterials{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: 450px;
        overflow-y: scroll;
        border-radius: 6px;
        background-color: $keyGreen;
        background-repeat: no-repeat;
        background-size: cover;
        .cardOptions{
            margin: 0 auto;
        }
        p{
            @include sub_title($keyWhite);
            margin: 20px auto;
            text-align: center;
        }
        img{
            width: 80%;
            max-width: 150px;
            height: 100%;
            max-height: 100px;
            margin: 20px auto 0 auto;
            border: 1px solid $keyWhite;
            // cursor: pointer;
            // display: inline-block;
            // border: 1px solid $keyWhite;
            // width: 100px;
            // height: auto;
            cursor: move;
        }
        // .cardMaterialBackground{
        //     width: 80%;
        //     margin: 20px auto;
        //     .cardBgc{
        //         width: 100%;
        //         height: auto;
        //         margin-top: 20px;
        //         border: 1px solid $keyWhite;
        //         cursor: pointer;
        //     }
        // }
        
    }
}
.cardCompletedBtnSection{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.cardCompletedBtn{
    @include btn50Green; 
    box-shadow: $shadow2;
    margin: 20px auto;   
}


#imageUploader{
    @include btn50Green; 
    box-shadow: $shadow2;
}
#thanksCardCanvas {
    display: flex;
    // width: 100%;
    // max-width: 600px;
    // border: 3px solid $keyWhite;
    // border-radius: 6px;
  }
  .cardCanvasContanier{
      width: 100%;
      height: auto;
  }

  #cardImages{
      display: flex;
      flex-direction: column;
  }
 

//   [draggable] {
//       -moz-user-select: none;
//       -khtml-user-select: none;
//       -webkit-user-select: none;
//       user-select: none;
//       -khtml-user-drag: element;
//       -webkit-user-drag: element;
//       cursor: move;
//   }

// RWD for fake Post
@media screen and (max-width: 767px) {
    .cardMain{
        display: flex;
        flex-direction: column;
        // width: 100%;
        // max-width: 500px;
        // margin: 0 auto;
        border: 0;
    }
    .cardMaterials{
        display: flex;
        flex-direction: row !important;
        border-radius: 6px;
        background-color: $keyGreen;
        background-repeat: no-repeat;
        background-size: cover;
    }
    //RWD 要每個級距去寫
    .canvas-container{
        width: 450px !important;
        height: 300px !important;
    }
    #thanksCardCanvas {
        width: 450px !important;
        height: 300px !important;
 
      }
      .upper-canvas {
        width: 450px !important;
        height: 300px !important;
      }
}