.cardMain{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1006px;
    margin: 0 auto;
    border: 3px solid $keyWhite;
    border-radius: 6px;
    .cardMaterials{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: 450px;
        overflow-y: scroll;
        border-radius: 6px;
        background-color: $keyGreen;
        background-repeat: no-repeat;
        background-size: cover;
        .cardOptions{
            margin: 0 auto;
        }
        p{
            @include sub_title($keyWhite);
            margin: 20px auto;
            text-align: center;
        }
        img{
            width: 80%;
            max-width: 150px;
            height: 100%;
            max-height: 100px;
            margin: 20px auto 0 auto;
            border: 1px solid $keyWhite;
            // cursor: pointer;
            // display: inline-block;
            // border: 1px solid $keyWhite;
            // width: 100px;
            // height: auto;
            cursor: move;
        }
        .cardMaterialBackground{
            width: 80%;
            margin: 20px auto;
            .cardBgc{
                width: 100%;
                height: auto;
                margin-top: 20px;
                border: 1px solid $keyWhite;
                cursor: pointer;
            }
        }
        
    }
}
.cardCompletedBtnSection{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.cardCompletedBtn{
    @include btn50Green; 
    box-shadow: $shadow2;
    margin: 20px auto;   
}
//     }
//     .cardSectionContainer{
//         display: block;
//         width: 100%;
//         height: 100%;
//         margin-left: 5%;
//         .cardSectionContent{
//             width: 600px;
//             height: 450px;
//             padding: 20px;
//             background-color:rgba(255, 255, 255, 0.856);
//             position: relative;
//             background-repeat: no-repeat;
//             background-position: center;
//             background-size: cover;
//             z-index: 3;
//             .cardSelectText{
//                 display: flex;
//                 // width: 70%;
//                 font-size: 20px;
//                 line-height: 1.5;
//                 padding: 5%;
//                 position: absolute;
//                 top: 35%;
//                 left: 20%;
//                 color: $keyWhite;
//                 border: 3px solid $keyWhite;
//                 z-index: 6;

            
//             }
//             .cardAnimalChosen{
//                 width: 100%;
//                 height: 100%;
//                 max-width: 600px;
//                 max-height: 450px;
//                 position: absolute;
//                 bottom: 0%;
//                 right: 0%;
//                 // background-color: #888;
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 background-size: contain; 
//                 z-index: 9;

//               .cardAnimalChosen img{
//                 width: 100%;
//                 height: 100%;
//                 // height: 100%;
//                 // object-fit: cover !important;
//               }
//             }

//             .cardDecoChosen{
//                 width: 100%;
//                 height: 100%;
//                 max-width: 600px;
//                 max-height: 450px;
//                 position: absolute;
//                 bottom: 0%;
//                 right: 0%;
//                 // background-color: #888;
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 // background-size: cover; 
//                 // background-size: ;
//                 background-size: contain;
//                 z-index: 8;

//               .cardDecoChosen img{
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//               }
//             }
//         }

//     }
// }





#imageUploader{
    @include btn50Green; 
    box-shadow: $shadow2;
}
#thanksCardCanvas {
    display: flex;
    // width: 100%;
    // max-width: 600px;
    // border: 3px solid $keyWhite;
    // border-radius: 6px;
  }
  

  #cardImages{
      display: flex;
      flex-direction: column;
  }
 

  [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      -khtml-user-drag: element;
      -webkit-user-drag: element;
      cursor: move;
  }