

.ticketConfirmBG{
  @include BGColor(rgba(77,209,232,1),  rgba(171,224,232,1));
  @include BG01('bg1-2', 90%);
  @include BG02('bg2-1', 110%);
  @include BGLeft('bg2-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg2-4', 90%, 0%, 10%);
  @include FishMove1(30%, 30%, 10s);
  @include FishMove2(30%, 60%, 15s);
}

.cart3Content{
  width: 80%;
  max-width: 1200px;
  background-color: rgba(0,0,0,.2);
  margin: 160px auto 50px;
  padding: 50px;
  @media screen and (max-width: 676px){
    padding: 50px 20px;
  }
  .cartTitle{
    @include main_title($keyWhite);
    margin-bottom: 15px;
  }
  .cartSubTitle{
    @include sub_title($keyWhite);
    margin-bottom: 30px;
  }
  
  .cartStepBox{
    text-align: center;
    margin-bottom: 30px;
    .cartStep{
      @include cartStep($keyWhite, $blockYellow, $keyBlack);
      &:last-child{
        margin-right: 0;
      }
    }
    .active{
      background-color: $blockYellow;
    }
  }

  .confirmBlock{
    border: 1px solid rgba(0,0,0,.8);
    width: 100%;
    background-color: rgba(0,0,0,.8);
    @include sub_title($keyWhite);
    @media screen and (max-width: 676px){
      font-size: 16PX;
    }

    table{
      margin: 50px auto;
      background-color: $keyWhite;
      border-radius: 6px;
      overflow: hidden;
      border: 2px solid $keyWhite;
      max-width: 90%;
      tbody{
        tr{
          td{  
            color: $keyBlack;
            padding: 15px 20px;
            border: 1px solid white;
            @media screen and (max-width: 676px){
              padding: 10px 10px;
            }
            &:first-child{
              background-color: $keyGreen;
              width: 200px;
              @media screen and (max-width: 991px){
                width: 150px;
              }
              @media screen and (max-width: 676px){
                width: auto;
              }
              
            }
            &:nth-child(2){
              width: 300px;
              border: 1px solid $keyGreen;
              @media screen and (max-width: 991px){
                width: 250px;
              }
              @media screen and (max-width: 676px){
                width: auto;
              }
              
            }
          }
        }
      }
    }

    .payButtonBox{
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media screen and (max-width: 991px){
        flex-direction: column-reverse;
      }
      
      a{
        margin: 0 15px;
        &:first-child{
          @media screen and (max-width: 991px){
            margin-top: 20px;
          }

        }
        .ticketPayCancel{
          @include btn60(200px, white);  
          @media screen and (max-width: 991px){
            width: 50%;
            min-width: 220px;
          }
        }

        .ticketPayToCheck{
          @include btn60(200px, green);
          @media screen and (max-width: 991px){
            width: 50%;
            min-width: 220px;
          }
          
        }
      }
    }

  }

}