

.ticketConfirmBG{
  @include BGColor(rgba(77,209,232,1),  rgba(171,224,232,1));
  @include BG01('bg1-2', 90%);
  @include BG02('bg2-1', 110%);
  @include BGLeft('bg2-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg2-4', 90%, 0%, 10%);
  @include FishMove1(30%, 30%, 10s);
  @include FishMove2(30%, 60%, 15s);
}

.cart3Content{
  width: 80%;
  max-width: 1200px;
  background-color: rgba(0,0,0,.2);
  margin: 150px auto 50px;
  padding: 50px;
  @media screen and (max-width: 991px){
    margin: 105px auto 50px;
  }
  @media screen and (max-width: 676px){
    padding: 20px;
    width: 90%;
  }
  .cartTitle{
    @include main_title($keyWhite);
    margin-bottom: 15px;
  }
  .cartSubTitle{
    @include sub_title($keyWhite);
    margin-bottom: 30px;
  }
  
  .cartStepBox{
    @include StepBox;
    margin-bottom: 30px;
  }

  .confirmBlock{
    border: 1px solid rgba(0,0,0,.8);
    width: 100%;
    background-color: rgba(0,0,0,.8);
    @media screen and (max-width: 676px){
      font-size: 16PX;
    }
    
    table{
      @include sub_title($keyWhite);
      margin: 50px auto;
      background-color: $keyWhite;
      border-radius: 6px;
      overflow: hidden;
      border: 2px solid $keyWhite;
      max-width: 90%;
      @media screen and (max-width: 676px){
        font-size: 16px;
      }
      tbody{
        tr{
          td{  
            color: $keyBlack;
            padding: 15px 20px;
            border: 1px solid white;
            @media screen and (max-width: 676px){
              padding: 10px 10px;
            }
            &:first-child{
              background-color: $keyGreen;
              width: 200px;
              @media screen and (max-width: 991px){
                width: 150px;
              }
              @media screen and (max-width: 676px){
                width: auto;
              }
              
            }
            &:nth-child(2){
              width: 300px;
              border: 1px solid $keyGreen;
              @media screen and (max-width: 991px){
                width: 250px;
              }
              @media screen and (max-width: 676px){
                width: auto;
              }
              
            }
          }
        }
      }
    }

    .payButtonBox{
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 767px){
        flex-direction: column-reverse;
        align-items: center;
      }
      .ticketPayCancel{
        @include btn50White;
        width: 200px;
        margin: 0 30px 0 0;
        @media screen and (max-width: 767px){
          margin: 20px 0 0 0;
        }
        @media screen and (max-width: 479px){
          width: 160px;
        }
      }
      .ticketPayToCheck{
        @include btn50Green;
        width: 200px;
        @media screen and (max-width: 479px){
          width: 160px;
        }
      }
      
      // a{
      //   margin: 0 15px;
      //   &:first-child{
      //     @media screen and (max-width: 767px){
      //       margin-top: 20px;
      //     }

      //   }
      //   .ticketPayCancel{
      //     @include btn50White;
      //     width: 200px; 
      //     @media screen and (max-width: 479px){
      //       width: 160px;
      //     } 
      //   }

      //   .ticketPayToCheck{
      //     @include btn50Green;
      //     width: 200px;  
      //     @media screen and (max-width: 479px){
      //       width: 160px;
      //     }
      //   }
      // }
    }

  }

}