.vote_bk{
  @include BGColor(rgb(24, 62, 121),  rgb(12, 94, 161));
  @include BG01('bg4-1', 80%);
  @include BG02('bg5-1', 140%);
  @include BGLeft('bg3-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg4-2', 90%, 0%, 10%);
  @include FishMove1(30%, 30%, 10s);
  @include FishMove2(30%, 60%, 15s);
}

.VoteTitleBox{
  h2, h4{
    color: white !important;
  }
}

.vote_container{
  margin:auto;
  margin-bottom: 50px;

  
  /* 頁籤區塊 */
  .vote_block{
    background: rgba(0, 0, 0, .8);
    padding: 50px 50px 30px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 676px){
      padding: 20px;
      width: 90%;
    }
    .vote_list{
      width: 100%;
      // text-align: center;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li{
        margin: 0 15px 20px;
        a{
          width: 155px;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          border: 4px solid $blockYellow;
          padding: 0px 24px;
          border-radius: 6PX;
          cursor: pointer;
          color: #333333;
          background:#ffffff;
          font-size: 20px;
          font-weight: 700;
          line-height: 40px;
          &:hover{
            background:$blockYellow;
          }
          @media screen and (max-width: 991px){
            line-height: 30px;
            font-size: 16px;
            width: 140px;
          }
        }
        a.-on{
          border: 4px solid $blockYellow;
          color: #333333;
          background: $blockYellow
        }
      }
    }
  }

  .vote_contents{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 676px){
      width: 90%;
    }
    .vote_info{
      padding: 0 50px 30px;
      background: rgba(0, 0, 0, .8);
      @media screen and (max-width: 676px){
        padding: 0 20px 20px;
      }
    }  
    .vote_subtitle{
      @include main_title($keyWhite);
    }
    .vote_text{
      margin-top: 20px;
      @include text($keyWhite);
    }
  }





  /* 頁籤內容區塊 */
  .vote_contents .vote{
    display: none;
    margin: 0 auto;
    
    
  }
  .vote_contents .vote.-on{
    display: block;
    // height: 2000px;
    margin: 0 auto;
  }

  // 命名區塊
  #nominateCreatureBlock{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px;
    @media screen and (max-width: 767px){
      justify-content: center;
    }
    @media screen and (max-width: 676px){
      padding: 20px;
    }
    .nominate{
      width: 30%;
      display: inline-block;
      margin-bottom: 60px;
      background-color: white;
      border-radius: 6px;
      box-shadow: $shadow2;
      padding: 20px;
      margin-right: (100% - (30%*3))/2;
      &:nth-child(3n){
        margin-right: 0;
      }
      @media screen and (max-width: 1200px){
        width: 48%;
        margin-right: (100% - (48%*2));
        &:nth-child(3n){
          margin-right: (100% - (48%*2));
        }
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      @media screen and (max-width: 767px){
        width: 70%;
        margin-right: 0;
        &:nth-child(3n){
          margin-right: 0;
        }
      }
      @media screen and (max-width: 479px){
        width: 100%;
      }
      h4{
        @include sub_title($keyGreen); 
        display: inline-block;
        margin-bottom: 20px;
      }
      .nominate_img{
        width: 100%;
        padding-top: 60%;
        position: relative;
        overflow: hidden;
        border: 3px solid #ffffff;
        box-shadow: $shadow;
        border-radius: 6px;
        margin-bottom: 20px;
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit:cover;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .journal{
          position: absolute;
          @include btn36Yellow;
          right: 10px;
          bottom: 10px;
          box-shadow: $shadow2;
        }
      }
      p{
        span{
          display: inline-block;
          @include text($keyBlack);
          font-weight: 400;
        }
      }
      .nominateInputBox{
        background-color: #333333;
        box-shadow: $shadow;
        border-radius: 6px;
        padding:  20px;
        text-align: center;
        margin-top: 20px;
        h4{
          @include sub_title($keyWhite);
          margin-bottom: 20px;
        }
        input{
          width: 100%;
          margin-bottom: 20px;
          border: none;
        }
        .nominateSubmit{
          @include btn50Green;
          width: 180px;
        }
      }
    }
  }


  // 投票區塊
  #voteCreatureBlock{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px;
    @media screen and (max-width: 767px){
      justify-content: center;
    }
    @media screen and (max-width: 676px){
      padding: 20px;
    }
    .vote_nav{
      width: 30%;
      margin-bottom: 60px;
      background-color: white;
      border-radius: 6px;
      box-shadow: $shadow2;
      padding: 20px;
      margin-right: (100% - (30%*3))/2;
      &:nth-child(3n){
        margin-right: 0;
      }
      @media screen and (max-width: 1200px){
        width: 48%;
        margin-right: (100% - (48%*2));
        &:nth-child(3n){
          margin-right: (100% - (48%*2));
        }
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      @media screen and (max-width: 767px){
        width: 70%;
        margin-right: 0;
        &:nth-child(3n){
          margin-right: 0;
        }
      }
      @media screen and (max-width: 479px){
        width: 100%;
      }
      h4{
        @include sub_title($keyGreen); 
        display: inline-block;
        margin-bottom: 20px;
      }
      .vote_img{
        width: 100%;
        padding-top: 60%;
        position: relative;
        overflow: hidden;
        border: 3px solid #ffffff;
        box-shadow: $shadow;
        border-radius: 6px;
        margin-bottom: 20px;
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit:cover;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .journal{
          position: absolute;
          @include btn36Yellow;
          right: 10px;
          bottom: 10px;
          box-shadow: $shadow2;
        }
      }
      p{
        span{
          display: inline-block;
          @include text($keyBlack);
          font-weight: 400;
        }
      }
      .vote_Box{
        background-color: #333333;
        box-shadow: $shadow;
        border-radius: 6px;
        padding:  20px;
        text-align: center;
        margin-top: 20px;
        h4{
          @include sub_title($keyWhite);
          margin-bottom: 20px;
        }
        input{
          display: none;
          &:checked + label{
            background-color: $blockYellow;
          }
        }
        label{
          width: 100%;
          display: block;
          border: 3px solid $blockYellow;
          border-radius: 6px;
          padding: 0 36px;
          font-size: 20px;
          font-weight: 400;
          background-color: #ffffff;
          text-align: center;
          color: #333333;
          margin: 0 auto;
          outline: none;
          line-height: 40px;
          cursor: pointer;
          margin-bottom: 20px;
        }
        .voteSubmit{
          @include btn50Green;
          width: 180px;
        }
      } 
    }
  }
 
  // 已完成
  #voteFinishedBlock{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px;
    @media screen and (max-width: 767px){
      justify-content: center;
    }
    @media screen and (max-width: 676px){
      padding: 20px;
    }
    .voteFinished{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 30%;
      margin-bottom: 60px;
      background-color: white;
      border-radius: 6px;
      box-shadow: $shadow2;
      padding: 20px;
      margin-right: (100% - (30%*3))/2;
      &:nth-child(3n){
        margin-right: 0;
      }
      @media screen and (max-width: 1200px){
        width: 45%;
        margin-right: (100% - (45%*2));
        &:nth-child(3n){
          margin-right: (100% - (45%*2));
        }
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      @media screen and (max-width: 991px){
        width: 100%;
        margin-right: 0;
        &:nth-child(3n){
          margin-right: 0;
        }
      }
      @media screen and (max-width: 676px){
        width: 70%;
      }
      @media screen and (max-width: 479px){
        width: 100%;
      }
      .voteFinishedNameBox{
        width: 100%;
        margin-bottom: 20px;
        h4{
          display: inline-block;
          @include sub_title($keyGreen); 
        }
      }
      .voteFinishedInfo{
        width: 100%;
        margin-bottom: 20px;
        @media screen and (max-width: 991px){
          width: 45%;
        }
        @media screen and (max-width: 676px){
          width: 100%;
        }
        .voteFinishedImg{
          width: 100%;
          padding-top: 60%;
          position: relative;
          overflow: hidden;
          border: 3px solid #ffffff;
          box-shadow: $shadow;
          border-radius: 6px;
          margin-bottom: 20px;
          img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit:cover;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .journal{
            position: absolute;
            @include btn36Yellow;
            right: 10px;
            bottom: 10px;
            box-shadow: $shadow2;
          }
        }
        p{
          span{
            display: inline-block;
            @include text($keyBlack);
            font-weight: 400;
          }
        }
      }
      .vote_bar_block{
        width: 100%;
        @media screen and (max-width: 991px){
          width: 50%;
        }
        @media screen and (max-width: 676px){
          width: 100%;
        }
        .voteBar {
          position: relative;
          display: block;
          margin-bottom: 10px;
          width: 100%;
          background: #eee;
          border-radius: 6px;
          box-shadow: $shadow;
          .voteBar-title {
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 700;
            font-size: 14px;
            color: #ffffff;
            // background: $keyGreen;
            span {
              display: block;
              padding: 0 10px;
              height: 28px;
              line-height: 28px;
            }
          }
          .voteBar-bar {
            height: 28px;
            width: 0px;
            background-color: $keyGreen;
            border-radius: 6px;
          }
          .voteBar-bar.changeBG{
            background-color: $keyBlack;
            transition: background-color 0s linear 2s;
          }
          .voteBar-percent {
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 14px;
            height: 28px;
            line-height: 28px;
            color: #333;
          }
          .voteBar-percent.changeBG{
            color: white;
            transition: color 0s linear 2s;
          }
        }
      }
    }
  }
}













