body.voteBLOCK{
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  height: 3000px;
  color: #ffffff;
  font-family: 'ROBOTO';
    
}



.vote_bk{
  @include BGColor(rgb(24, 62, 121),  rgb(12, 94, 161));
  @include BG01('bg4-1', 80%);
  @include BG02('bg5-1', 140%);
  @include BGLeft('bg3-3', 90%, 0%, -10%, -10%);
  @include BGRight('bg4-2', 90%, 0%, 10%);
  @include FishMove1(30%, 30%, 10s);
  @include FishMove2(30%, 60%, 15s);
}

.vote_container{
  width:1200px;
  background: rgba(255, 255, 255, .2);
  margin:auto;
  margin-top:50px;
}




/* 頁籤區塊 */
.vote_block{
  height: 100px;
  background: rgba(0, 0, 0, .7);
  // padding: 0 50px;
}

/* 頁籤列表 */
ul.vote_list{
  width: 80%;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

ul.vote_list > li{
  display: inline-block;
  margin-top: 30px;
}

ul.vote_list > li > a{
  height: 50px;
  width: 155px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: 4px solid #FBE108;
  padding: 10px 24px;
  border-radius: 6PX;
  box-shadow: 2px 2px  black;
  cursor: pointer;
  color: #333333;
  background:#ffffff;
  position: relative;
  font-size:20px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 30px;
    &:hover{
  background:#FBE108;


  }
}


ul.vote_list > li > a.-on{
  border: 2px solid #FBE108;
  color: #333333;
  background:#FBE108;
  line-height: 1.2;
}

.vote_info{
  height: 150px;
  background: rgba(0, 0, 0, .7);
  padding: 0 50px;
  margin: 0 auto;
}

.vote_subtitle{
  @include main_title($keyWhite);
}


.vote_text{
  @include text($keyWhite);
  height: 100px;
  width: 80%;
  padding-left: 10px;
}



/* 頁籤內容區塊 */
.vote_contents{
  height: 2500px;
}
.vote_contents .vote{
  display: none;
  margin: 0 auto;
}
.vote_contents .vote.-on{
  display: block;
  height: 2000px;
  margin: 0 auto;
}




.nominate{
  width: 40%;
  height: 35%;
  margin: 0 auto;
  display: inline-block;
  margin-left: 6.5%;
  margin-top: 50px;
  background-color: white;
  border-radius: 6px;
  box-shadow: $shadow2;
  >p{
  @include text($textBlack);
  padding-left: 5%;
  }
  >h4{
    color: #1BB8CE;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;  
    margin-top: 20px;
    margin-bottom: 10px;
  }
}







.nominate .vote_img{
  position: relative;
  >img{
  width: 90%;
  margin-left: 5%;
  display: inline-block;
  border: 3px solid white;
  border-radius: 6px;
  box-shadow: $shadow2;
  
  }
}

.nominate .vote_img  a.journal{
  position: absolute;
  top:80%;
  left:67%;
  @include btn36Yellow;
  box-shadow: $shadow2;
}





.name{
  width: 90%;
  height: 30%;
  background: rgba(0, 0, 0, .8);
  margin: auto;
  > input{
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 20px;
  outline: none;
  }
  >.btn{
  @include btn50Green;
  box-shadow: $shadow2;  
  // margin: 0 auto;
  margin-left: 33%;
  }
  > h4{
  color: #1BB8CE;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;  
  margin-top: 20px;
  margin-bottom: 10px;
  }
}




.name h4{
  padding-left: 0px;
  text-align: center;
}

.vote_nav{
  width: 40%;
  height: 47%;
  margin: 0 auto;
  display: inline-block;
  margin-left: 6.5%;
  margin-top: 50px;
  background-color: white;
  border-radius: 6px;
  box-shadow: $shadow2;
  >p{
  @include text($textBlack);
  padding-left: 5%;
  }
  >h4{
    color: #1BB8CE;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;  
    margin-top: 20px;
    margin-bottom: 10px;
  }
}


.vote_nav .vote_img{
  position: relative;
  >img{
  width: 90%;
  margin-left: 5%;
  display: inline-block;
  border: 3px solid white;
  border-radius: 6px;
  box-shadow: $shadow2;
  } 
}

.vote_nav .vote_img a.journal{
  position: absolute;
  top:80%;
  left:67%;
  @include btn36Yellow;
  box-shadow: $shadow2;
}



.vote_nav .name{
  width: 90%;
  height: 53%;
  background: rgba(0, 0, 0, .8);
  margin: auto;
  >.btn_2{
  width: 200px;
  display: block;
  border: 3px solid #FBE108;
  border-radius: 6px;
  padding: 0 36px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #ffffff;
  height: 40px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  }
  >.btn_2:hover{
  width: 200px;
  display: block;
  border: 3px solid #FBE108;
  border-radius: 6px;
  padding: 0 36px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #FBE108;
  height: 40px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  }
  >h4{
  color: #1BB8CE;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  }
}  



.vote_nav .name h4{
  padding-left: 0px;
  text-align: center;

}





.finished{
  width: 80%;
  height: 20%;
  margin: 0 auto;
  display: block;
  margin:0 auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 6px;
  box-shadow: $shadow2;
  >h4{
    color: #1BB8CE;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;  
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
}

.finished h4{
  width: 40%;
  margin-right: 0;

}


.finished .vote_img{
  position: relative;
  width: 50%;
  height: 80%;
  display: inline-block;
  >img{
  width: 90%;
  margin-left: 5%;
  display: inline-block;
  border: 3px solid white;
  border-radius: 6px;
  box-shadow: $shadow2;
  }
  >p{
  @include text($textBlack);
  padding-left: 5%;
  }
}

.finished .vote_img a.journal{
  position: absolute;
  top:55%;
  left:52%;
  @include btn36Yellow;
  box-shadow: $shadow2;
}

.finished .vote_img img{
  width: 75%;
  margin-bottom: 20px;
}



.finished .vote_all{
  width: 25%;
  height: 45%;
  display: inline-block;
  position: absolute;
  >h3{
  color: #1BB8CE;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  }

}

.finished .vote_all h3{
  padding-top: 0px;

}

@import url("https://fonts.googleapis.com/css?family=Open + Sans");
.skillbar {
  font-family: "Open Sans", "sans-serif";
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 30px;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 30px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  background: #6adcfa;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #444;
  color: rgba(0, 0, 0, 0.4);
}






// ------RWD--------------


@media screen and (min-width: 1200px) and (max-width: 1530px){
}
@media screen and (min-width: 992px) and (max-width: 1199px){
}
@media screen and (min-width: 768px) and (max-width: 991px){
}
@media screen and (min-width: 576px) and (max-width: 767px){
}
@media screen and (max-width: 575px){
}


// -----------------


@media screen and (min-width: 1200px) and (max-width: 1530px){
  .vote_container{
  width:80%;

  }
}


@media screen and (min-width: 992px) and (max-width: 1199px){
  .vote_container{
  width:80%;

  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .vote_container{
  width:80%;

  }
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .vote_container{
  width:80%;

  }
}

@media screen and (max-width: 575px){
  .vote_container{
  width:80%;

  }
}


// --------------

@media screen and (min-width: 1200px) and (max-width: 1530px){
  ul.vote_list{
  width: 80%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  ul.vote_list{
  width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  ul.vote_list{
  width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  ul.vote_list{
  width: 100%;
  }
}
@media screen and (max-width: 575px){
  ul.vote_list{
  width: 100%;
  }
}

// ----------

@media screen and (min-width: 992px) and (max-width: 1199px){
  ul.vote_list > li > a{
  width: 130px;
  padding: 10px 10px;
  margin: 0 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  ul.vote_list > li > a{
  width: 110px;
  padding: 10px 10px;
  margin: 0 5px;
  font-size: 16px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  ul.vote_list > li > a{
  width: 95px;
  padding: 10px 5px;
  margin: 0 10px;
  font-size: 16px;
  }
}
@media screen and (max-width: 575px){
  ul.vote_list > li > a{
  width: 88px;
  padding: 10px 0px;
  margin: 0 5px;
  font-size: 12px;
  }
}


// ------------------------




// /* 頁籤內容區塊 */
// .vote_contents{
//   height: 2500px;
// }

@media screen and (min-width: 768px) and (max-width: 991px){
  .vote_contents{
  height: 4500px;
}
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .vote_contents{
  height: 4500px;
}
}
@media screen and (max-width: 575px){
  .vote_contents{
  height: 4500px;
}
}

// ------------------

// .vote_contents .vote{
//   display: none;
//   margin: 0 auto;
// }
// .vote_contents .vote.-on{
//   display: block;
//   height: 2000px;
//   margin: 0 auto;
// }







@media screen and (min-width: 768px) and (max-width: 991px){
  .nominate{
  width: 90%;
  margin: 0 auto;
  display: block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .nominate{
  width: 90%;
  margin: 0 auto;
  display: block;
  }
}
@media screen and (max-width: 575px){
  .nominate{
  width: 90%;
  margin: 0 auto;
  display: block;
  }
}


// ---------------


@media screen and (min-width: 1200px) and (max-width: 1530px){
  .nominate .vote_img  a.journal{
  width: 30%;
  left:62%;
  top:75%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .nominate .vote_img  a.journal{
  width: 35%;
  padding: 0 5px;
  left:57%;
  top:70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .nominate .vote_img  a.journal{
  width: 35%;
  left:57%;
  top:78%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .nominate .vote_img  a.journal{
  width: 35%;
  left:57%;
  top:78%;
  }
}
@media screen and (max-width: 575px){
  .nominate .vote_img  a.journal{
  width: 35%;
  padding: 0 5px;
  left:57%;
  top:70%;
  }
}


// --------------------

@media screen and (min-width: 992px) and (max-width: 1199px){
  .name{
  > input{
  width: 80%;
  }
  >.btn{
    margin-left: 22%;
  }
  }
} 

@media screen and (min-width: 576px) and (max-width: 767px){
    .name{
  > input{
  width: 80%;
  }
  >.btn{
    margin-left: 28%;
  }
  }
}
@media screen and (max-width: 575px){
    .name{
  > input{
  width: 80%;
  }
  >.btn{
    margin-left: 21%;
  }
  }
}





@media screen and (min-width: 768px) and (max-width: 991px){
  .vote_nav{
  width: 90%;
  margin: 0 auto;
  display: block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .vote_nav{
  width: 90%;
  margin: 0 auto;
  display: block;
  }
}
@media screen and (max-width: 575px){
  .vote_nav{
  width: 90%;
  margin: 0 auto;
  display: block;
  }
}


// -----------------



@media screen and (min-width: 1200px) and (max-width: 1530px){
  .vote_nav .vote_img a.journal{
    width: 30%;
    padding: 6px 10px;
    left:62%;
    top:75%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .vote_nav .vote_img a.journal{
  width: 35%;
  padding: 6px 10px;
  left:57%;
  top:70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .vote_nav .vote_img a.journal{
    width: 35%;
    padding: 6px 10px;
    left:57%;
    top:78%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .vote_nav .vote_img a.journal{
    width: 35%;
    padding: 6px 10px;
    left:57%;
    top:78%;
  }
}
@media screen and (max-width: 575px){
  .vote_nav .vote_img a.journal{
    width: 35%;
    padding: 6px 10px;
    left:57%;
    top:70%;
  }
}


// -----------------



@media screen and (min-width: 992px) and (max-width: 1199px){
  .finished{
    height: 40%;
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .finished{
    height: 38%;
    display: block;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .finished{
    height: 35%;
    display: block;
  }
}
@media screen and (max-width: 575px){
  .finished{
    height: 32%;
    display: block;
  }
}


// -----------------




@media screen and (min-width: 992px) and (max-width: 1199px){
  .finished .vote_img{
    width: 100%;
    height: 45%;
    display: block;
    
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .finished .vote_img{
    width: 100%;
    height: 45%;
    display: block;
    
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .finished .vote_img{
    width: 100%;
    height: 40%;
    display: block;
    
  }
}

@media screen and (max-width: 575px){
  .finished .vote_img{
    width: 100%;
    height: 40%;
    display: block;
    
  }
}


// -----------------



@media screen and (min-width: 1200px) and (max-width: 1530px){
  .finished .vote_img a.journal{
    width: 30%;
    padding: 0 10px;
    padding-top: 8px;
    top:40%;
    left:47%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .finished .vote_img a.journal{
    width: 30%;
    padding: 0 10px;
    padding-top: 8px;
    top:55%;
    left:55%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .finished .vote_img a.journal{
    width: 30%;
    padding: 0 10px;
    padding-top: 8px;
    top:42%;
    left:55%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .finished .vote_img a.journal{
    width: 30%;
    padding: 0 10px;
    padding-top: 8px;
    top:38%;
    left:55%;
  }
}
@media screen and (max-width: 575px){
  .finished .vote_img a.journal{
    width: 40%;
    padding: 0 10px;
    padding-top: 8px;
    top:27%;
    left:45%;
  }
}


// -----------------


@media screen and (min-width: 992px) and (max-width: 1199px){
  .finished .vote_img img{
    margin-left: 65px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .finished .vote_img img{
    margin-left: 50px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .finished .vote_img img{
    margin-left: 40px;
  }
}
@media screen and (max-width: 575px){
  .finished .vote_img img{
    margin-left: 30px;
  }
}


// ------------------------

@media screen and (min-width: 992px) and (max-width: 1199px){
  .finished .vote_all{
    width: 60%;
    display: block;
    margin-top: 0;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .finished .vote_all{
    width: 60%;
    display: block;
    margin-top: 0;
    margin-left: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .finished .vote_all{
    width: 60%;
    display: block;
    margin-top: 0;
    margin-left: 15px;
  }
}
@media screen and (max-width: 575px){
  .finished .vote_all{
    width: 55%;
    display: block;
    margin-top: 0;
    margin-left: 15px;
  }
}


// -----------------
