.commonTitleBox{
  margin: 150px auto 0px;
  width: 80%;
  max-width: 1200px;
  padding: 0 0 30px;
  @media screen and (max-width: 991px){
    margin: 105px auto 0px;
  }
  @media screen and (max-width: 676px){
    width: 90%;
  }

  .commonTitle{
    font-size: 48px;
    font-family: $en;
    font-weight: 700;
    color: $keyBlack;
    text-align: center;
    @media screen and (max-width: 479px){
      font-size: 36px;
    }
  }

  .commonSubTitle{
    @include sub_title($keyBlack);
    text-align: center;
    margin: 10px 0 0;
    line-height: 1.2;
    @media screen and (max-width: 479px){
      font-size: 18px;
    }
  }
}