a{
  text-decoration: none;
  display: inline-block;
}
img{
  max-width: 100%;
}
ul{
  list-style: none;
}

.main_menu{
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: #999 2px 2px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .main_nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_box{
      display: inline-block;
      text-align: center;
      margin-left: 20px;
      &:hover{
        .logo{
          transform: scale(1.1);
        }
      }
      .logo{
        width: 100px;
        transition: .2s;
      }
      .logo_text_box{
        display: block;
        margin: 0;
        font-size: 8px;
        .logo_text{
          margin: 0;
          color: #333333;
        }
      }
    }
    .main_menu_ul{
      display: inline-flex;
      padding: 0;
      margin: 0;
      justify-content: space-between;
      .main_menu_li{
        text-align: center;
        margin:0 30px;
        &:hover{
          .li_logo{
            img{
              transform: translate(-50%, -20%);
              &:first-child{
                z-index: 11;
              }
              &:nth-child(2){
                z-index: -1;
              }
            }
          }
        }
        .li_logo{
          width: 70px;
          display: block;
          height: 50px;
          position: relative;
          img{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: transform .3s .05s;
            &:first-child{
              z-index: -1;
            }
          }
        
        }
        .li_text{
          display: block;
          color: #333333;
          font-weight: 700;
          padding-top: 5px;
        }
      }
      .active{
        .li_logo{
          img{
            &:first-child{
              z-index: 11;
            }
            &:nth-child(2){
              z-index: -1;
            }
          }
        }
        // .li_text{
        //   color: orangered;
        // }
      }


    }
    .header_right{
      display: inline-flex;
      margin-right: 40px;
      align-items: center;
      .member_box{
        border: 3px solid $keyBlack;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-right: 10px;
        transition: .5s;
        background-color: #333333;
        cursor: pointer;
        &:hover{
          transform: translateY(-10%);
          img{
            transform: translate(10%, -50%);
            transition: .5s cubic-bezier(.44,-1.25,1,.31);
          }
          img.memberImg{
            transform: translate(-50%, -50%);
          }
        }
        img{
          position: absolute;
          top: 50%;
          transform: translate(20%, -50%);
          transition: .5s linear;
        }
        img.memberImg{
          min-width: 100%;
          min-height: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
          
        }
      }
      .cart_box{
        width: 54px;
        position: relative;
        img{
          transition: .5s linear;
        }
        &:hover{
          img{
            transform: translateY(-10%) rotate(-3deg);
            transition: .5s cubic-bezier(.72,-2.03,.93,.3);
          }
        }
        .cart_amount{
          position: absolute;
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          // background-color: rgb(228, 37, 37);
          color: white;
          text-align: center;
          line-height: 32px;
          top: -10px;
          right: -20px;
        }
      }
      .hamburger_box{
        width: 40px;
        height: 40px;
        display: none;
        margin-left: 40px;
        // border: 1px solid red;
        cursor: pointer;
        .hamburger{
          // border: 1px solid blue;
          width: 40px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          &:hover{
            .hamburger_line{
              background-color: #555;
              &::after, &::before{
              background-color: #555;
              }
            }
          }
          .hamburger_line{
            display: none;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $keyBlack;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            &::after, &::before{
              border-radius: 2px;
              display: block;
              content: "";
              height: 4px;
              width: 100%;
              position: absolute;
              background-color: $keyBlack;
            }
            &::after{
              left: 0;
              top: 10px;
            }
            &::before{
              left: 0;
              top: -10px;
            }
          }
          .hamburger_line.is-active{
            display: block;
          }
          .hamburger_cross{
            // border: 1px solid red;
            width: 100%;
            height: 40px;
            display: none;
            font-size: 70px;
            color: $keyBlack;
            font-weight: 300;
            position: absolute;
            left: 50%;
            z-index: 15;
            transform: translate(-50%, -100%);
            // z-index: 100;
            &:hover{
              color: #555555;
            }
          }
          .hamburger_cross.is-active{
            display: block;
          }
        }
      }
    }
  }
  .memProfileBlock{
    position: absolute;
    top: 110px;
    right: 30px;
    width: 200px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 6px;
    text-align: center;
    box-shadow: $shadow2;
    display: none;
    .memNameInProfileBlock{
      margin: 20px 0 20px;
      span{
        @include sub_title($keyBlack);
        font-weight: 700;
      }
    }
    .memProfileLink{
      width: 165px;
      @include btn36Yellow;
      box-shadow: $shadow2; 
    }
    #SignOutLink{
      width: 165px;
      @include btn36Yellow;
      box-shadow: $shadow2; 
      margin: 15px 0 20px;
    }
  }
}




@media screen and (max-width: 991px){
  .main_menu{
    height: 70px;
    .main_nav{
      display: inline-block;
      position: relative;
      .logo_box{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        a{
          &:first-child{
            width: 70px;
          }
        }
      }
      .main_menu_ul{
        display: block;
        position: absolute;
        top: 0;
        left: -250px;
        z-index: 10;
        width: 250px;
        height: 100vh;
        background-color: rgba(255, 255, 255, .9);
        transition: .3s;
        .main_menu_li{
          // border: 1px solid red;
          margin: 30px 0 0 30px;
          text-align: left;
          display: flex;
          align-items: center;
          &:first-child{
            margin-top: 100px;
          }
          .li_logo{
            // border: 1px solid blue;
            display: inline-block;
            margin-right: 20px;
            img{
              // left: 0;
            }
          }
          .li_text{
            // border: 1px solid green;
            display: inline-block;
          }
        }
      }
      .main_menu_ul.is-active{
        left: 0;
      }
      .header_right{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 20px;
        .member_box{
          width: 40px;
          height: 40px;
        }
        .cart_box{
          width: 40px;
          .cart_amount{
            width: 20px;
            height: 20px;
            line-height: 22px;
            top: -6px;
            right: -10px;
          }
        }
        .hamburger_box{
          display: block;
        }
      }
    }
    .memProfileBlock{
      top: 80px;
      right: 70px;
      width: 200px;
      #SignOutLink{
        margin: 10px 0 20px;
      }
    }
  }
}

@media screen and (max-width: 489px){
  .main_menu{
    .main_nav{
      .header_right{
        .hamburger_box{
          margin-left: 15px;
        }
      }
    }
    .memProfileBlock{
      right: 45px;
      .memNameInProfileBlock{
        span{
          @include text($keyBlack);
          font-weight: 700;
        }
      }
    }
  }
}


