@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
     -moz-box-sizing: $box-sizing;
      -ms-box-sizing: $box-sizing;
          box-sizing: $box-sizing;
}
//
// transform
//
@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
      -o-transform: $value;
         transform: $value;
}

//
// flexBox
//
@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-width($value) {
  -webkit-box-flex: $value;
     -moz-box-flex: $value;
      -webkit-flex: $value;
          -ms-flex: $value;
              flex: $value;
}
@mixin align-center { 
  -webkit-align-items: center;
     -moz-align-items: center;
  -ms-flex-item-align: center;
          align-items: center;
}
@mixin align-end { 
    -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
     -moz-align-items: flex-end;
  -ms-flex-item-align: end;
          align-items: flex-end;
}
@mixin space-between { 
  -webkit-box-align-content: space-between;
    -webkit-justify-content: space-between;
       -moz-justify-content: space-between;
            justify-content: space-between;
}
@mixin justify-center { 
  -webkit-justify-content: center;
     -moz-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
}
@mixin flex-end {
         -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
            -ms-flex-pack: justify;
            -moz-box-pack: justify;
          justify-content: flex-end;
}
@mixin flex-wrap($value) {
      -moz-box-wrap: $value;
   -webkit-box-wrap: $value;
  -webkit-flex-wrap: $value;
   -ms-flexbox-wrap: $value;
      -ms-flex-wrap: $value;
          flex-wrap: $value;
}

@mixin border-radius ( $radius ) {
  @include background-clip-padding-box;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

//
// box-shadow
//
@mixin box-shadow {
  box-shadow: #999 2px 2px 10px;
}

  @mixin setMediaQueries($media) {
  @if $media == pc {
    @media only screen and (min-width: 1024px) { @content; }
  }
  @else if $media == pad_h {
    @media only screen and (min-width: 991px) and (max-width: 1023px)  { @content; }
  }
  @else if $media == pad_v {
    @media only screen and (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $media == phone {
    @media only screen and (min-width: 0px) and (max-width: 767px) { @content; }
  }
  }

@mixin cartStep($bgColor, $borderColor, $color){
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $bgColor;
  border: 2px solid $borderColor;
  color: $color;
  display: inline-block;
  position: relative;
  @media screen and (max-width: 676px){
    width: 45px;
    height: 45px; 
  }
  img, p{
    font-size: 36px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 676px){
      font-size: 24px;
      width: 30px;
    }
  }
  +span{
    height: 2px;
    width: 30px;
    display: inline-block;
    background-color: $blockYellow;
    @media screen and (max-width: 676px){
      width: 10px;
    }
  }
}



@mixin StepBox{
  text-align: center;
  >div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $keyWhite;
    border: 2px solid $blockYellow;
    display: inline-block;
    position: relative;
    @media screen and (max-width: 676px){
      width: 45px;
      height: 45px; 
    }
    img, p{
      font-size: 36px;
      width: 40px;
      font-weight: 700;
      color: $keyBlack;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media screen and (max-width: 676px){
        font-size: 24px;
        width: 30px;
      }
    }
    +span{
      height: 2px;
      width: 30px;
      display: inline-block;
      background-color: $blockYellow;
      @media screen and (max-width: 676px){
        width: 10px;
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
  >div.done{
    background-color: $blockYellow;
  }
  >div.active{
    background-color: $blockYellow;
    animation-name: stepScale;
    animation-duration: 1s;
    animation-iteration-count: forwards;
    @keyframes stepScale{
      0%{
        transform: scale(2);
        background-color: $keyWhite;
      }
      90%{
        transform: scale(1);
        background-color: $keyWhite;
      }
      100%{
        background-color: $blockYellow;
      }
    }
  }
}
