<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="icon" href="./image/header/favicon.ico">
    <link rel="stylesheet" href="./css/style.css">
    
  <!-- vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
  
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <title>Aqua Wonderland</title>
</head>
<body>

  <!-- 下面是背景的div，先不要動到 -->
  <div class="memBackground">
    <div class="commonBG00 commonBGSet"></div>
    <div class="commonBG01 commonBGSet"></div>
    <div class="commonBG02 commonBGSet"></div>
    <div class="commonBGLeft commonBGSet"></div>
    <div class="commonBGRight commonBGSet"></div>
    <img src="./image/background/fish1.png" alt="" class="BGFish1">
    <img src="./image/background/fish2.png" alt="" class="BGFish2">
  </div> 
  <!-- 上面是背景的div，先不要動到 -->
  <!-- Log In開始 -->
  <div id="memLightBox" class="memLogin overlay">
    <form action="" class="LogInForm" id="LogInForm" method="post">
      <div class="btn_modal_close">
        <div></div>
        <div></div>
      </div>
      <h3 class="memLogTitle">LOG IN</h3>
      <input type="text" name="memId" id="memId" minlength="6" maxlength="12" pattern="[A-Za-z0-9]*"
        placeholder="Username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" size="25" /><br>
      <input type="password" name="memPsw" id="memPsw" minlength="6" maxlength="12" pattern="[A-Za-z0-9]*"
        placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" size="25" /><br>
      <h6><a href="./memberLock.html" class="memForgot memForget_modal">Forget Password?</a></h6><br>
      <input type="button" class="submitBtnLog" id="btnLogin" value="LOG IN"><br>
      <div class="memLine">
        <h5>OR</h5>
      </div>
      <p>Don't have an account?</p><br>
      <a href="./memberlogin.html"><button type="button" class="submitBtnSign" id="btnSignup">SIGN UP</button></a>
    </form>
  </div>
  <!-- Log In結束 -->
  
  <!-- header開始 -->
  <header class="main_menu">
    <!-- header第一區塊 主導覽列 -->
    <nav class="main_nav">
      <div class="logo_box">
        <a href="homepage.html" class="logo">
          <img src="./image/header/logo.png" alt="">
        </a>
        <a href="" class="logo_text_box">
          <h1 class="logo_text">AQUA WONDERLAND</h1>
        </a>
      </div>
      <ul class="main_menu_ul" id="main_menu_ul">
        <li class="main_menu_li active">
          <a href="tour.html" class="li_logo">
            <img src="./image/header/header_tour.png" alt="">
            <img src="./image/header/header_tour_cover.png" alt="">
          </a>
          <a href="tour.html" class="li_text">TOUR</a>
        </li>
        <li class="main_menu_li active">
          <a href="journal.html" class="li_logo">
            <img src="./image/header/header_journal.png" alt="">
            <img src="./image/header/header_journal_cover.png" alt="">
          </a>
          <a href="journal.html" class="li_text">JOURNAL</a>
        </li>
        <li class="main_menu_li active">
          <a href="ticket.html" class="li_logo">
            <img src="./image/header/header_ticket.png" alt="">
            <img src="./image/header/header_ticket_cover.png" alt="">
          </a>
          <a href="ticket.html" class="li_text">TICKET</a>
        </li>
        <li class="main_menu_li active">
          <a href="vote.html" class="li_logo">
            <img src="./image/header/header_vote.png" alt="">
            <img src="./image/header/header_vote_cover.png" alt="">
          </a>
          <a href="vote.html" class="li_text">VOTE</a>
        </li>
        <li class="main_menu_li active">
          <a href="blog1.php" class="li_logo">
            <img src="./image/header/header_blog.png" alt="">
            <img src="./image/header/header_blog_cover.png" alt="">
          </a>
          <a href="blog1.php" class="li_text">BLOG</a>
        </li>
      </ul>
      <div class="header_right">
        <span class="member_box btn_modal" id="btn_modal">
          <img src="./image/header/header_member_fish.png" alt="" title="Log In" id="memberPic"
            onerror="javascript:this.src='./image/header/header_member_fish_login.png'">
        </span>
        <a class="cart_box" href="cart.html">
          <img src="./image/header/header_cart.png" alt="">
          <span class="cart_amount"></span>
        </a>
        <div class="hamburger_box" id="hamburger_box">
          <div class="hamburger">
            <span class="hamburger_line is-active" id="hamburger_line"></span>
            <span class="hamburger_cross" id="hamburger_cross">&times;</span>
          </div>
        </div>
      </div>
    </nav>
  
    <!-- header第二區塊 會員登入後點頭像出線的小窗 -->
    <div class="memProfileBlock" id="memProfileBlock" style="display: none;">
      <p class="memNameInProfileBlock"><span>Hello!&nbsp;&nbsp;</span><span id="memNameInProfileBlock"></span></p>
      <a href="./memberProfile.html" class="memProfileLink">Member Profile</a>
      <p id="SignOutLink">Sign Out</p>
    </div>
  
  </header>
  
  <!-- header結束 -->
    <main id="vue_member">


      <div class="container memMain">
        <div class="row">
          <!-- 左半邊選單 -->
          <div class="memList col-12 col-xl-3">

            <div class="memImgBox">
              <div class="memImgArea">
                <div class="memImg">
                  <img src="./image/member/Shinnosuke2.jpg" id="memBigImg">
                </div>
                <label for="memPhoto" id="memBigPhoto">
                  <input type="file" name="memImg" id="memPhoto" style="display: none;">Edit
                  <i class="fas fa-pen"></i>
                </label>
              </div>
            </div>

              <div class="memNameBox">
                <h3>{{name}}</h3>
                <div class="memPointBox">
                  <span>Point:</span>
                  <span id="memPoint">{{point}}</span>
                </div>
              </div>

              <ul>
                <div class="membtn">
                  <a href="#" data-target="tab1" class="memTab -on">PROFILE</a>
                </div>
                <div class="membtn">
                  <a href="#" data-target="tab2" class="memTab">BLOG</a>
                </div>
                <div class="membtn">
                  <a href="#" data-target="tab3" class="memTab">CARD</a>
                </div>
                <div class="membtn">
                  <a href="#" data-target="tab4" class="memTab">ADOPTION</a>
                </div>
                <div class="membtn">
                  <a href="#" data-target="tab5" class="memTab">ORDER</a>
                </div>
              </ul>

          </div>
          
          <!-- 右半邊內容 -->
          <div class="container memProContent col-12 col-xl-9">
            <!-- PROFILE -->
            <div class="memTab tab1 memProfile -on">
              <div class="memAllTitle">
                <h3>Profile</h3>
                <button style="width: 250px;" id="edit_profile">Edit Profile</button>
              </div>
              <div class="memProAll" id="showMem">
                <div class="memName memProfileContent">
                  <div class="memProTit">Name</div>
                  <div class="memProText">{{name}}</div>
                </div>
                <div class="memUsername memProfileContent">
                  <div class="memProTit">ID</div>
                  <div class="memProText">{{id}}</div>
                </div>
                <div class="memPsw memProfileContent">
                  <div class="memProTit">Password</div>
                  <div class="memProText">{{password}}</div>
                </div>
                <div class="memGender memProfileContent">
                  <div class="memProTit">Gender</div>
                  <div class="memProText">{{sex}}</div>
                </div>
                <div class="memEmail memProfileContent">
                  <div class="memProTit">Email</div>
                  <div class="memProText">{{email}}</div>
                </div>
                <div class="memMobile memProfileContent">
                  <div class="memProTit">Phone</div>
                  <div class="memProText">{{phone}}</div>
                </div>
                <div class="memBirth memProfileContent">
                  <div class="memProTit">Birthday</div>
                  <div class="memProText">{{birth}}</div>
                </div>
              </div>

              <div class="memProAll member_edit" id="editMem" style="display: none;">
                <div class="memName memProfileContent">
                  <div class="memProTit">Name</div>
                  <div class="memProText">{{name}}</div>
                </div>
                <div class="memUsername memProfileContent">
                  <div class="memProTit">Username</div>
                  <div class="memProText">{{id}}</div>
                </div>
                <div class="memPsw memProfileContent">
                  <div class="memProTit">Password</div>
                  <input class="memProText" v-model='password'>
                </div>
                <div class="memGender memProfileContent">
                  <div class="memProTit">Gender</div>
                  <div class="memProText">{{sex}}</div>
                </div>
                <div class="memEmail memProfileContent">
                  <div class="memProTit">Email</div>
                  <input class="memProText" v-model='email'>
                </div>
                <div class="memMobile memProfileContent">
                  <div class="memProTit">Phone</div>
                  <input class="memProText" v-model='phone'>
                </div>
                <div class="memBirth memProfileContent">
                  <div class="memProTit">Birthday</div>
                  <input class="memProText" v-model='birth'>
                </div>
                <div class="profile_btn">
                  <button id="edit_confirm" v-on:click="edit_confirm">Confirm</button>
                  <button id="edit_cancel">Cancel</button>
                </div>
              </div>

            </div>
          
            <!-- Blog Record -->
            <div class="memTab tab2 memBlog">
              <div class="memAllTitle">
                <h3>Bolg Record</h3>
              </div>
              <ul>
                <div class="memSpanBlog">
                  <div>
                    <a href="#" data-target="memBlogTab1" class="memBlogTab -on">Posted</a>
                  </div>
                  <div>
                    <a href="#" data-target="memBlogTab2" class="memBlogTab span2">Saved</a>
                  </div>
                </div>
              </ul>
              <div class="memBlogAll">
                <div class="memBlogTable memBlogTab1 memBlogTab -on container">
                  <div class="memBlogForm memBlogCard row">
                    <div class="memFormBlogTitle col-4 col-sm-4">Image</div>
                    <div class="memFormBlogTitle col-4 col-sm-4">Title</div>
                    <div class="memFormBlogTitle col-4 col-sm-4">Hashtag</div>
                  </div>
                  <!-- <div class="memBlogContent memBlogCard row">
                    <div class="mem_ana col-2 col-sm-2"><img src="./image/member/memBlog.jpg" alt=""></div>
                    <div class="mem_ana col-6 col-sm-6">FunDay!</div>
                    <div class="mem_ana col-4 col-sm-2">#dolphin</div>
                    <div class="mem_ana col-2 col-sm-2">
                      <div class="memBlogClick">
                        <i class="fas fa-pen"></i>
                        <i class="fas fa-trash-alt"></i>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="memBlogContent memBlogCard row">
                    <div class="mem_ana col-2 col-sm-2"><img src="./image/member/memBlog1.jpg" alt=""></div>
                    <div class="mem_ana col-6 col-sm-6">That's Great!</div>
                    <div class="mem_ana col-4 col-sm-2">#whale</div>
                    <div class="mem_ana col-2 col-sm-2">
                      <div class="memBlogClick">
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="memBlogTable memBlogTab2 memBlogTab container">
                  <div class="memBlogForm memBlogCard row">
                    <div class="memFormTitle col-sm-2">Image</div>
                    <div class="memFormTitle col-4 col-sm-5">Title</div>
                    <div class="memFormTitle col-4 col-sm-3">Hashtag</div>
                    <div class="memFormTitle col-4 col-sm-2">Edit</div>
                  </div>
                  <!-- <div class="memBlogContent memBlogCard row">
                    <div class="mem_ana col-2 col-sm-2"><img src="./image/member/memblogseal.jpg" alt=""></div>
                    <div class="mem_ana col-6 col-sm-6">GreatTime!</div>
                    <div class="mem_ana col-4 col-sm-2">#seal</div>
                    <div class="mem_ana col-2 col-sm-2">
                      <div class="memBlogClick">
                        <i class="fas fa-trash-alt"></i>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- Thankscard Record -->
            <div class="memTab tab3 memThanks">
              <div class="memAllTitle">
                <h3>Thankscard Record</h3>
              </div>
              <div class="memThanksAll">
                <div class="memThanksTable container">
                  <div class="memBlogForm memCard row">
                    <div class="memFormcardTitle col-6 col-sm-6 col-lg-6">Date</div>
                    <div class="memFormcardTitle col-6 col-sm-6 col-lg-6">Picture</div>
                  </div>
                  <!-- <div class="memBlogContent memCard row">
                    <div class="mem_ana col-3 col-sm-2">2020-10-21</div>
                    <div class="mem_ana col-4 col-sm-4 col-lg-3">Shinnosuke</div>
                    <div class="mem_ana col-5 col-sm-5 col-lg-6">No. 300, Zhongda Rd., Zhongli Dist., Taoyuan City 320, Taiwan</div>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- Adoption Record -->
            <div class="memTab tab4 memAdopt">
              <div class="memAllTitle">
                <h3>Adoption Record</h3>
              </div>
              <div class="memAdoptAll">
                <div class="memAdoptTable container">
                  <div class="row memBlogForm memAdoptCard">
                    <div class="col-5 col-sm-5 memFormTitle">Date</div>
                    <div class="col-4 col-sm-4 memFormTitle">Adopt</div>
                    <div class="col-3 col-sm-3 memFormTitle">Dollar</div>
                  </div>
                  <!-- <div class="row memBlogContent memAdoptCard">
                    <div class="col-3 col-sm-3 mem_ana">2020-09-21</div>
                    <div class="col-3 col-sm-3 mem_ana">dolphin</div>
                    <div class="col-3 col-sm-3 mem_ana">NT$2,000</div>
                    <div class="col-3 col-sm-3 mem_ana">Succeed</div>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- Order Record -->
            <div class="memTab tab5 memOrder">
              <div class="memAllTitle">
                <h3>Order Record</h3>
              </div>
              <ul>
                <div class="memSpanBlog">
                  <div>
                    <a href="#" data-target="memOrderTab1" class="memBlogTab -on">Ticket</a>
                  </div>
                  <div>
                    <a href="#" data-target="memOrderTab2" class="memBlogTab span2">Night</a>
                  </div>
                </div>
              </ul>
              <!-- OrderAll -->
              <div class="memOrderAll">

                <!-- ticket part -->
                <div class="memOrderTable memOrderTab1 memBlogTab -on container">
                  <!-- Ticket Title -->
                  <div class="memBlogForm memOrderCard row">
                    <div class="col-2 col-sm-2 memFormTitle">Order No.</div>
                    <div class="col-3 col-sm-3 memFormTitle">Total</div>
                    <div class="col-5 col-sm-5 memFormTitle">Payment Time</div>
                    <div class="col-2 col-sm-2 memFormTitle">Detail</div>
                  </div>
                  <!-- ticket 001 -->
                  <!-- <div class="memBlogContent memOrderCard row">
                    <div class="col-2 col-sm-2 mem_ana">001</div>
                    <div class="col-4 col-sm-4 mem_ana">$<span>90</span></div>
                    <div class="col-4 col-sm-4 mem_ana">2020-10-21</div>
                    <div class="col-2 col-sm-2 mem_ana memStep" aria-expanded="false">view 
                      <i class="fa fa-angle-down fa-lg"></i>
                    </div>

                    <div class="col-11 col-sm-11 memBlogDetail memStepContent container">
                      <div class="row memBlogForm memOrderCardDetail">
                        <div class="col-3 col-sm-3 memFormTitle">ProdNo.</div>
                        <div class="col-3 col-sm-3 memFormTitle">Amount</div>
                        <div class="col-3 col-sm-3 memFormTitle">Price</div>
                        <div class="col-3 col-sm-3 memFormTitle">Subtotal</div>
                      </div>
                      <div class="row memBlogContent memOrderCardDetail">
                        <div class="col-3 col-sm-3 memTick">Adult</div>
                        <div class="col-3 col-sm-3 memTick">2</div>
                        <div class="col-3 col-sm-3 memTick">$<span>30</span></div>
                        <div class="col-3 col-sm-3 memTick">$<span>60</span></div>
                      </div>
                      <div class="row memBlogContent memOrderCardDetail">
                        <div class="col-3 col-sm-3 memTick">Child</div>
                        <div class="col-3 col-sm-3 memTick">2</div>
                        <div class="col-3 col-sm-3 memTick">$<span>15</span></div>
                        <div class="col-3 col-sm-3 memTick">$<span>30</span></div>
                      </div>
                    </div>
                  </div> -->

                </div>

                <!-- overnight part -->
                <div class="memOrderTable memOrderTab2 memBlogTab container">
                  <!-- overnight Title -->
                  <div class="memBlogForm memOrderCard row">
                    <div class="col-2 col-sm-2 memFormTitle">Night No.</div>
                    <div class="col-3 col-sm-3 memFormTitle">Stay Time</div>
                    <div class="col-2 col-sm-2 memFormTitle">Total</div>
                    <div class="col-3 col-sm-3 memFormTitle">Payment Date</div>
                    <div class="col-2 col-sm-2 memFormTitle">Detail</div>
                  </div>
                  <!-- overnight 001 -->
                  <!-- <div class="memBlogContent memOrderCard row">
                    <div class="col-2 col-sm-2 mem_ana">001</div>
                    <div class="col-3 col-sm-3 mem_ana">2020-10-31</div>
                    <div class="col-2 col-sm-2 mem_ana">$<span>280</span></div>
                    <div class="col-3 col-sm-3 mem_ana">2020-10-21</div>
                    <div class="col-2 col-sm-2 mem_ana memStep" aria-expanded="false">view 
                      <i class="fa fa-angle-down fa-lg"></i>
                    </div>

                    <div class="col-11 col-sm-11 memBlogDetail memStepContent container">
                      <div class="row memBlogForm memOrderCardDetail">
                        <div class="col-3 col-sm-3 memFormTitle">AreaNo.</div>
                        <div class="col-3 col-sm-3 memFormTitle">Amount</div>
                        <div class="col-3 col-sm-3 memFormTitle">Price</div>
                        <div class="col-3 col-sm-3 memFormTitle">Subtotal</div>
                      </div>
                      <div class="row memBlogContent memOrderCardDetail">
                        <div class="col-3 col-sm-3 memTick">Whale</div>
                        <div class="col-3 col-sm-3 memTick">2</div>
                        <div class="col-3 col-sm-3 memTick">$<span>100</span></div>
                        <div class="col-3 col-sm-3 memTick">$<span>200</span></div>
                      </div>
                      <div class="row memBlogContent memOrderCardDetail">
                        <div class="col-3 col-sm-3 memTick">Turtle</div>
                        <div class="col-3 col-sm-3 memTick">1</div>
                        <div class="col-3 col-sm-3 memTick">$<span>80</span></div>
                        <div class="col-3 col-sm-3 memTick">$<span>80</span></div>
                      </div>
                    </div>
                  </div> -->

                </div>

                <!-- <div class="memBlogTable memBlogTab2 memBlogTab">
                  Night Title
                  <div class="col-md-12 memBlogForm memOrderCard">
                    <div class="col-md-2 memFormTitle">Order No.</div>
                    <div class="col-md-3 memFormTitle">Visit Date</div>
                    <div class="col-md-2 memFormTitle">Total</div>
                    <div class="col-md-3 memFormTitle">Status</div>
                    <div class="col-md-2 memFormTitle">Detail</div>
                  </div>
                  Night 001
                  <div class="col-md-12 memBlogContent memOrderCard">
                    <div class="col-md-2 mem_ana">001</div>
                    <div class="col-md-3 mem_ana">2020-10-21</div>
                    <div class="col-md-2 mem_ana">NT$4,800</div>
                    <div class="col-md-3 mem_ana">Unpaid</div>
                    <div class="col-md-2 mem_ana memStep" aria-expanded="false">view 
                      <i class="fa fa-angle-down fa-lg"></i>
                    </div>
                    <div class="memBlogDetail memStepContent">
                      <div class="col-md-12 memBlogForm memOrderCardDetail">
                        <div class="col-md-3 memFormTitle">AreaNo.</div>
                        <div class="col-md-2 memFormTitle">Person</div>
                        <div class="col-md-2 memFormTitle">Price</div>
                        <div class="col-md-3 memFormTitle">Subtotal</div>
                        <div class="col-md-2 memFormTitle">Edit</div>
                      </div>
                      <div class="col-md-12 memBlogContent memOrderCardDetail">
                        <div class="col-md-3 memTick">Whale</div>
                        <div class="col-md-2 memTick">2</div>
                        <div class="col-md-2 memTick">NT$2,400</div>
                        <div class="col-md-3 memTick">NT$4,800</div>
                        <div class="col-md-2 memTick">
                          <i class="fas fa-pen"></i>
                          <i class="fas fa-trash-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  Night 002
                  <div class="col-md-12 memBlogContent memOrderCard">
                    <div class="col-md-2 mem_ana">002</div>
                    <div class="col-md-3 mem_ana">2020-10-21</div>
                    <div class="col-md-2 mem_ana">NT$4,800</div>
                    <div class="col-md-3 mem_ana">Paid</div>
                    <div class="col-md-2 mem_ana memStep" aria-expanded="false">view 
                      <i class="fa fa-angle-down fa-lg"></i>
                    </div>
                  Detail
                    <div class="memBlogDetail memStepContent">
                      <div class="col-md-12 memBlogForm memOrderCardDetail">
                        <div class="col-md-3 memFormTitle">AreaNo.</div>
                        <div class="col-md-2 memFormTitle">Person</div>
                        <div class="col-md-2 memFormTitle">Price</div>
                        <div class="col-md-3 memFormTitle">Subtotal</div>
                        <div class="col-md-2 memFormTitle">Edit</div>
                      </div>
                      <div class="col-md-12 memBlogContent memOrderCardDetail">
                        <div class="col-md-3 memTick">Whale</div>
                        <div class="col-md-2 memTick">2</div>
                        <div class="col-md-2 memTick">NT$2,400</div>
                        <div class="col-md-3 memTick">NT$4,800</div>
                        <div class="col-md-2 memTick">
                          <i class="fas fa-pen"></i>
                          <i class="fas fa-trash-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>

              
            </div>
          </div>


        </div>
      </div>
    </main>
    <!-- 你的code打這上面 -->
  </div>

  <footer>
    Copyright 2020 ED103-G1 Aqua Wonderland All Rights Reserved
  </footer>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src  ="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="./js/memLogin.js"></script> -->
  <script src="./js/layout/header.js"></script>
  <script src="./js/memProfile.js"></script>

  <!-- 頁籤 -->
  <script>
  // member主頁籤
  // $(function(){
  //   $("a.memTab").on("click", function(e){
  //     e.preventDefault();
      
  //     /* 將頁籤列表移除所有 -on，再將指定的加上 -on */
  //     $(this).closest("ul").find("a.memTab").removeClass("-on");
  //     $(this).addClass("-on");
      
  //     /* 找到對應的頁籤內容，加上 -on 來顯示 */
  //     $("div.memTab").removeClass("-on");
  //     $("div.memTab." + $(this).attr("data-target")).addClass("-on");
  //   });
  // });

  // // member次頁籤
  // $(function(){
  //   $("a.memBlogTab").on("click", function(e){
  //     e.preventDefault();
      
  //     /* 將頁籤列表移除所有 -on，再將指定的加上 -on */
  //     $(this).closest("ul").find("a.memBlogTab").removeClass("-on");
  //     $(this).addClass("-on");
      
  //     /* 找到對應的頁籤內容，加上 -on 來顯示 */
  //     $("div.memBlogTab").removeClass("-on");
  //     $("div.memBlogTab." + $(this).attr("data-target")).addClass("-on");
  //   });
  // });

  // // OrderDetail收合
  // $("div.memStep").on("click", function(){
  //   $(this).next().slideToggle();
  //   $(this).find('i').toggleClass('rotate');
  // });



</script>
</body>
</html>
